<div class="exam-filter-container">
  <mat-card>
    <div class="title">Education</div>
    <div class="tags">
      <div class="tag">asdfsda</div>
      <div class="tag">asdfsda</div>
      <div class="tag">asdfsda</div>
    </div>
  </mat-card>
  <mat-card>
    <div class="title">Education</div>
    <div class="tags">
      <div class="tag">1</div>
      <div class="tag">2</div>
      <div class="tag">asdfsda</div>
      <div class="tag">fsda</div>
      <div class="tag">fsdaasdf</div>

      <div class="tag">fsdaasdf</div>
      <div class="tag">fsdaasdf</div>
      <div class="tag">fsdaasdf</div>
      <div class="tag">fsdaasdf</div>

    </div>
  </mat-card>
</div>
