.filter-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.program-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px 0;
  span {
    font-size: x-large;
  }

  mat-icon {
    color: var(--header);
    width: 70px;
    height: 70px;
    font-size: 70px;
  }
}

.wrapper {
  padding: 0 20px;
  display: inline-grid;
  mat-label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
  }
}

.label {
  padding: 0 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.major-filter {
  width: -webkit-fill-available;
  padding: 20px 0;
  // padding: 15px 50px;
}

.timer-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .item-wrapper {
    width: 100%;
    // padding: 15px 15px 15px 50px;
    display: grid;
  }

  .timer-wrapper {
    width: 45%;
    padding: 15px 50px 15px 15px;
    display: grid;
    place-self: baseline;
  }
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 20px 0;
}

// mat-icon {
//   font-size: 50px;
//   width: 50px;
//   height: 50px;
// }

button.mat-primary {
  font-family: "Bebas Neue";
  font-size: 18px;
  // color: wheat;
  color: white;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

mat-hint {
  font-size: 12px;
  color: #00000099;
}

// .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected,
// .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-highlighted {
//   --mdc-chip-label-text-color: wheat;
// }

.mat-mdc-standard-chip {
  height: var(--mdc-chip-container-height, 28px);
  /* height: 24px; */
  font-size: 14px;
}

.mat-button-toggle-checked {
  background-color: var(--header);
  color: white;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 30px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  gap: 1px;
}

.mat-button-toggle {
  flex: 1;
  // min-width: 100px;
}

#exam-filter {
  padding: 50px 0;
}

@media screen and (max-width: 420px) {
  .program-title {
    padding: 0 0 20px 0;
  }

  .major-filter {
    width: -webkit-fill-available;
    padding: 15px 10px;
  }

  .timer-item-wrapper {
    flex-direction: column;
    padding: 20px 10px;

    .item-wrapper,
    .timer-wrapper {
      width: -webkit-fill-available;
      padding: 10px;
    }
  }

  .mat-button-toggle {
    font-size: 13px;
  }

  #exam-filter {
    padding: 10px 0;
  }
}

:host ::ng-deep .mdc-fab {
  width: 100px;
  height: 100px;
}

// :host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//   background-color: transparent;
// }
:host ::ng-deep .mdc-text-field--filled {
  background-color: transparent;
}

/** remove arrow input[number] */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// input[type="number"] {
//     -moz-appearance: textfield;
// }
