.major-filter {
    width: 100%;
    padding: 15px 50px;
}

.timer-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}