<section id="exam-filter">
  <div class="filter-container">
    <mat-label class="label">Click the filters you want to choose</mat-label>
    <div class="wrapper">
      <mat-label>Exam Type</mat-label>
      <mat-button-toggle-group
        [multiple]="false"
        [value]="selectedProgram"
        (change)="onProgramChanged($event)"
      >
        <mat-button-toggle *ngFor="let program of programs" [value]="program">
          {{ program }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="wrapper">
      <mat-label>Major</mat-label>
      <mat-button-toggle-group
        *ngIf="filters.length"
        [multiple]="false"
        [value]="selectedMajor"
        (change)="selectedMajor = $event.value"
      >
        <mat-button-toggle
          *ngFor="let major of filters | majorfilter : selectedProgram"
          [value]="major"
        >
          {{ major }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="wrapper">
      <mat-label>Coverage</mat-label>
      <mat-button-toggle-group
        *ngIf="filters.length"
        [multiple]="true"
        [value]="selectedCoverage"
        (change)="selectedCoverage = $event.value"
      >
        <mat-button-toggle
          *ngFor="let coverage of filters | coveragefilter : selectedMajor"
          [value]="coverage"
        >
          {{ coverage }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="timer-item-wrapper">
    <div class="item-wrapper">
      <mat-form-field>
        <mat-label>Number of Items</mat-label>
        <input matInput type="number" [(ngModel)]="item" readonly/>
      </mat-form-field>
      <mat-slider min="10" max="100" step="5">
        <input matSliderThumb [(ngModel)]="item"/>
      </mat-slider>
    </div>
  </div>
  <div class="action-wrapper">
    <button mat-flat-button color="primary" type="button" (click)="navigate()">
      START
    </button>
  </div>
</section>
