#description {
  padding: 25px 0;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title {
  font-family: "Caveat", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: var(--header);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}
