<section id="description">
  <div class="logo-wrapper">
    <!-- <div class="logo-title">Pass That Board</div> -->
    <!-- <div class="logo-subtitle">exam made easy as pass</div> -->
  </div>

  <!-- <div class="title-wrapper">
    <div class="title">WELCOME TO &nbsp;</div>
    <div class="logo-title">Pass That Board</div>
  </div> -->
  <div class="content-card">
    <h4 class="topic">Review Everywhere!</h4>
    <p>
      We are your premier destination for a seamless shift towards a virtual review center. Embracing the future of education, we specialize in
      offering comprehensive online learning and reviewers tailored for the Licensure Examination for Teachers (LET) and Civil Service Exam (CSE). Our
      platform is dedicated to supporting aspiring educators and civil servants in their journey towards success. With a commitment to excellence, we
      provide meticulously crafted reviewers designed specifically for the targeted courses and degree programs. Join us in the digital realm of
      education and empower yourself with the tools needed to excel in your examinations. Embrace the convenience of virtual reviews and let "Review
      Everywhere!" be your trusted companion on the path to achievement.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">Into Virtual and Online Review Program</h4>
    <p>
      At <span class="logo">Pass That Board</span>, our mission is to revolutionize the review process by making it easier, more accessible, and entirely virtual. We
      understand the challenges of traditional review centers and have embraced the digital era to bring education to your fingertips. By offering
      online learning and comprehensive reviewers for the Licensure Examination for Teachers (LET) and Civil Service Exam (CSE), we aim to simplify
      the learning experience. Our commitment is to eliminate geographical barriers, making education accessible to anyone, anywhere. We believe in
      the power of virtual learning to transform the way you prepare for your exams. Join us on this journey, as we redefine the landscape of
      education and make review accessible and effortless for everyone.
    </p>
  </div>
</section>
