#drill-desc {
  padding: 10px 0;
}

.logo-title,
.logo-desc {
  font-family: "Caveat", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: var(--header);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.logo-desc {
  font-size: 20px;
}
