<section id="donate">
  <div class="title">SUPPORT THIS PAGE</div>
  <div class="content">
    If you're finding <span class="logo">Pass That Board</span> helpful on your exam journey and it's contributed to
    your success, I'd like to extend an invitation to support its ongoing development. As the sole developer of this
    platform, I personally shoulder all the expenses - from hosting and server maintenance to other operational costs.
  </div>
  <div class="content">
    Your contribution, no matter the amount, would make a significant difference in keeping this platform thriving. Your
    generosity would directly contribute to enhancing its features and ensuring its accessibility for everyone who
    benefits from it.
  </div>
  <div class="content">Thank youu (つ✧ω✧)つ</div>
  <div class="donate-info">
    <span>Gcash/Maya: 096* *** *193</span>
    <div class="clipboard" [cdkCopyToClipboard]="'09682419193'" (click)="clipboardClicked()">
      <mat-icon aria-hidden="false" aria-label="copy icon" fontIcon="content_copy"></mat-icon>

      <span>click to copy my number</span>
    </div>
  </div>
</section>
