mat-card {
  cursor: pointer;
  padding: 25px 16px;
  background-color: #dbd0e4;
}

mat-icon {
  margin-right: 10px;
}

.choice-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .choice {
    font-size: 18px;
    font-weight: 500;
    white-space: pre-line;
    // uncopyable
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .letter {
    display: flex;
    align-items: center;
  }
}

mat-card:hover {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  background-color: rgba(197, 106, 25, 0.5);
}

.correct {
  background-color: var(--header) !important;
}

.wrong {
  background-color: var(--warn) !important;
}

.home {
  padding: 12px;

  .choice {
    font-size: 16px;
  }
}
