

.logo {
  font-family: "Caveat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--header);
}

#educational-purpose,
#policy {
  padding: 25px 0;
}

//
.spacer {
  flex: 1 1 auto;
}

.example-icon {
  display: none;
}
