<mat-divider></mat-divider>
<!-- <div class="divider">Keep in Touch</div> -->
<div class="sec-container">
  <div class="footer-container">
    <h2>Contact Us</h2>
    <div class="content">
      You can contact me at any of this link. You can also check out my latest
      projects, stackoverflow reputation, and my not so booring life at social
      media
    </div>
    <div class="icon-wrapper">
      <a href="#">
        <i class="icon-facebook"></i>
      </a>
      <a href="#">
        <i class="icon-gmail"></i>
      </a>
    </div>
  </div>
</div>
