<section id="cse-coverage">
  <h2 class="content-title">Civil Service Exam Coverage</h2>
  <div class="content-card">
    <h4 class="topic">1. Career Service Professional Examination (CSE-PPT)</h4>
    <p>
      The CSE-PPT is the higher-level exam and is intended for individuals who
      are seeking professional-level positions in the government. It covers the
      following areas:
    </p>

    <div>
      <span class="minitopic">General Ability Test (GAT):</span>
      <p>
        Verbal Reasoning: Vocabulary, grammar, paragraph organization, reading
        comprehension
      </p>
      <p>
        Analytical Ability: Data interpretation, logic, and numerical reasoning
      </p>
    </div>

    <div>
      <span class="minitopic">Specialized Professional Knowledge (SPECK):</span>
      <p>
        This section assesses the specialized knowledge and skills required for
        specific positions. It varies depending on the field or sector in which
        the candidate intends to work.
      </p>
    </div>
  </div>

  <div class="content-card">
    <h4 class="topic">
      2. Career Service Subprofessional Examination (CSE-SPE)
    </h4>
    <p>
      The CSE-SPE is for individuals who are interested in subprofessional
      positions in the government. It covers the following areas:
    </p>

    <div>
      <span class="minitopic">General Ability Test (GAT):</span>
      <p>
        Verbal Reasoning: Vocabulary, grammar, paragraph organization, reading
        comprehension
      </p>
      <p>
        Analytical Ability: Data interpretation, logic, and numerical reasoning
      </p>
    </div>

    <div>
      <span class="minitopic"
        >Subprofessional (Subprof) Knowledge (SUBPROF):</span
      >
      <p>
        This section assesses the knowledge and skills relevant to
        subprofessional positions, such as clerical or technical roles.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
