<div class="wrapper">
  <div class="subtitle">{{ major }} Coverage</div>
  <mat-chip-listbox aria-label="civil service coverage">
    <mat-chip-option
      *ngFor="let coverage of coverages | coveragefilter : major"
      highlighted
    >
      {{ coverage }}
    </mat-chip-option>
  </mat-chip-listbox>
</div>

<!-- <ul>
  <li>Remedial Instruction in English</li>
  <li>
    Theoretical Foundations of Language and Literature
    <ul>
      <li>Introduction to Linguistics</li>
      <li>Structure of English</li>
    </ul>
  </li>
</ul> -->
