.header {
  max-width: 1000px;
  width: 90%;
  padding: 0 5%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: block;
  }
}

.dropdown {
  overflow: hidden;

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .dropdown-content a {
    display: block;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

mat-icon {
  display: none;
}

/** subdropdown **/
.subdropdown {
  position: relative;
  .subdropdown-content {
    display: none;
    position: relative;
    z-index: 1;
  }

  .dropdown-content a {
    display: block;
  }
}

.subdropdown:hover .subdropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  mat-icon {
    display: block;
  }

  .header {
    // flex-direction: column;
    display: block;
  }

  .header a,
  .header .dropdown {
    display: none;
  }

  .header.responsive a,
  .header.responsive .dropdown {
    display: block;
    width: 100%;
  }

  .header.responsive .dropdown-content {
    position: relative;
  }
}

/** styling **/

#header {
  background-color: var(--header);
}

.header {
  a {
    text-decoration: none;
    color: #fff;
    padding: 0 12px;
  }
}

.dropdown {
  .dropdown-content {
    background-color: var(--primary);
  }
}

.subdropdown {
  .subdropdown-content {
    background-color: #cdbdd9;
  }
}

.droptbn,
.subdroptbn {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  padding: 0 12px;
  color: #fff;
}

.header a:hover,
.header .dropdown:hover,
.header .subdropdown:hover {
  background-color: #ac8dc7;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    padding: 0;

  }
  mat-icon {
    color: #fff;
    width: 100%;
    padding: 0 12px;
  }
}
