#header {
  background-color: var(--header);
}

.header-container,
.icon-container {
  max-width: 1000px;
  width: 90%;
  padding: 0 5%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  justify-content: flex-end;
  min-height: 36px;
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.menu {
  font-family: "Bebas Neue";
  font-size: 20px;
  color: white !important;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  color: #ffffff;
}

/** mat menu */
::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
  border-radius: 0;
  width: 100vw;
}

::ng-deep .mat-mdc-menu-content {
  background-color: #387a5c;
}

.mat-mdc-menu-item {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 20px;
  min-height: 36px;
}

::ng-deep .mdc-list-item__primary-text {
  color: #ffffff;
}

.mat-mdc-menu-item:hover {
  background-color: var(--primary);
}

@media screen and (max-width: 599px) {
  .icon-container {
    display: flex;
  }

  .header-container {
    flex-direction: column;
    position: relative;
    height: auto;
    max-height: 1000px; /* Set a value that accommodates your content */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    align-items: start;
  }

  .header-container.hidden {
    max-height: 0;
    opacity: 0;
  }
}
