<section id="header">
  <div class="header" [class.responsive]="isMenuOpen">
    <mat-icon aria-label="menu icon" (click)="toggleMenu()">menu</mat-icon>
    <a (click)="toggleMenu()" [routerLink]="['/']">Home</a>
    <a (click)="toggleMenu()" [routerLink]="['/']" fragment="drills"> Practice Test </a>
    <div class="dropdown">
      <button class="droptbn">Coverage</button>
      <div class="dropdown-content">
        <a (click)="toggleMenu()" [routerLink]="['/coverage/general-education']"> General Education </a>
        <a [routerLink]="['/coverage/professional-education']"> Professional Education </a>
        <div class="subdropdown">
          <button class="subdroptbn">Specialization</button>
          <div class="subdropdown-content">
            <a *ngFor="let major of majors" (click)="toggleMenu()" [routerLink]="major.route">
              {{ major.name }}
            </a>
          </div>
        </div>
        <a [routerLink]="['/coverage/civil-service']">Civil Service Exam</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="droptbn">Notes</button>
      <div class="dropdown-content">
        <a *ngFor="let note of notes" (click)="toggleMenu()" [routerLink]="note.route">{{ note.name }}</a>
      </div>
    </div>
  </div>
</section>
