<!-- <section id="header">
  <div class="header-container">
    <a [routerLink]="['/']">
      <div class="logo">Pass That Board</div>
    </a>
    <span class="spacer"></span>
    <a [routerLink]="['/policy']">
      <div class="menu">POLICIES</div>
    </a>
    <a [routerLink]="['/donate']">
      <div class="menu">DONATE</div>
    </a>
  </div>
</section> -->
<section id="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="header-container">
      <a [routerLink]="['/']">
        <div class="logo">Pass That Board</div>
      </a>
      <span class="spacer"></span>
      <a [routerLink]="['/policy']">
        <div class="menu">POLICIES</div>
      </a>
      <a [routerLink]="['/donate']">
        <div class="menu">DONATE</div>
      </a>
      <mat-icon class="menu-icon">menu</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>This is a toolbar row.</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>This is a toolbar row.</span>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
