#header {
  background-color: var(--header);
}

a {
  text-decoration: none;
}

.header-container {
  max-width: 1000px;
  width: 90%;
  padding: 0 5%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 20px;
  box-sizing: content-box;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  font-family: "Caveat", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.mat-toolbar-multiple-rows {
  min-height: 0;
  max-height: 36px;
}

.menu,
.menu-dd {
  font-family: "Bebas Neue";
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.slide-out {
  display: none;
  position: relative;
  height: auto;
  max-height: 1000px; /* Set a value that accommodates your content */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
}

.slide-out.hidden {
  max-height: 0;
  opacity: 0;
  // padding: 0;
}

@media screen and (max-width: 599px) {
  .slide-out,
  .menu-icon {
    display: flex;
  }
  .menu {
    display: none;
  }

  .mat-toolbar-multiple-rows {
    max-height: max-content;
  }

  mat-toolbar-row:first-child {
    height: 36px;
    padding: 0 5%;
  }

  mat-toolbar-row:not(:first-child) {
    height: 40px;
    padding: 0 5%;
  }

  mat-toolbar-row:not(:first-child):focus,
  mat-toolbar-row:not(:first-child):active,
  mat-toolbar-row:not(:first-child):hover {
    background-color: #b0bb9d;
  }
}
