<section id="header">
  <div class="header" [class.responsive]="isMenuOpen">
    <mat-icon aria-label="menu icon" (click)="toggleMenu()">menu</mat-icon>
    <a href="#">Home</a>
    <a href="#">News</a>
    <div class="dropdown">
      <button class="droptbn">Coverage</button>
      <div class="dropdown-content">
        <a href="#">General Education</a>
        <a href="#">Professional Education</a>
        <div class="subdropdown">
          <button class="subdroptbn">Specialization</button>
          <div class="subdropdown-content">
            <a href="#" *ngFor="let major of majors">{{ major.name }}</a>
          </div>
        </div>
        <a href="#">Civil Service Exam</a>
      </div>
    </div>
    <a href="#">Notes</a>
  </div>
</section>
