<section id="coverage-social-science">
  <h2 class="content-title">LET Social Studies/Social Sciences Coverage</h2>
  <div class="content-card">
    <h4 class="topic">1. Trends and Issues in Social Studies</h4>
    <p>
      This topic explores current trends, debates, and challenges in the field of social studies education. It covers
      issues related to curriculum development, pedagogy, and the integration of social studies in contemporary
      education systems.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">2. Research</h4>
    <p>
      Research in social studies involves understanding research methodologies and techniques used to investigate social
      phenomena. Teachers are expected to be familiar with research design, data collection, analysis, and
      interpretation.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">3. Geography</h4>
    <p>
      Geography focuses on the study of the Earth's physical features, environments, and human populations. Topics may
      include physical geography (landforms, climate, ecosystems), human geography (population, migration,
      urbanization), and geographic information systems (GIS).
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">4. Sociology and Anthropology</h4>
    <p>
      Sociology examines social institutions, relationships, and behavior, while anthropology explores the study of
      human cultures and societies, including cultural anthropology and archaeology.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">5. Politics/Governance/Law-Related</h4>
    <p>
      This area covers topics related to government structures, political systems, law, and governance. It may include
      discussions on political theories, constitutions, and legal principles.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">6. History</h4>
    <p>
      <span class="minitopic">World History and Civilization I:</span> Focuses on the history of world civilizations,
      including ancient civilizations, medieval history, and the emergence of modern societies.
    </p>
    <p>
      <span class="minitopic">World History and Civilization II:</span>
      Continues the exploration of world history, covering topics such as the Enlightenment, colonialism,
      industrialization, and contemporary global events.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">7. Asian Studies</h4>
    <p>
      This topic delves into the history, cultures, and contemporary issues of Asian countries and regions, fostering an
      understanding of the diverse societies in Asia.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">8. Economics</h4>
    <p>
      <span class="minitopic">Microeconomics:</span> Examines individual economic behavior and the functioning of
      markets.
    </p>
    <p>
      <span class="minitopic">Macroeconomics:</span> Focuses on the broader economic factors such as national income,
      inflation, unemployment, and economic policy. Economic planning and strategies are also covered.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">9. Methods</h4>
    <p>
      <span class="minitopic"> Teaching Approaches in Secondary Social Studies: </span>
      Discusses pedagogical strategies and approaches for effectively teaching social studies concepts to secondary
      school students.
    </p>
    <p>
      <span class="minitopic"> Production of Instructional Materials for Social Studies: </span>
      Explores the development and utilization of instructional materials and resources in social studies instruction.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">10. Building Bridges Across Social Science Disciplines</h4>
    <p>
      This topic emphasizes the interdisciplinary nature of social studies and explores ways to integrate various social
      science disciplines into a cohesive educational framework.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">11. Assessment</h4>
    <p>
      <span class="minitopic"> Assessment and Evaluation in the Social Sciences/Social Studies: </span>
      Covers methods for assessing and evaluating student learning in the social sciences, including the design of
      assessments, data analysis, and feedback.
    </p>
  </div>
</section>
<app-coverage-source></app-coverage-source>
