<section>
  <h2 class="content-title">Basic Professional Education Notes - 1</h2>
  <div class="content-card">
    <h4 class="topic">Exploring Philosophical Ideals in Education</h4>
    <ol>
      <li>
        <span class="minitopic">Idealism</span> <b>– Spiritual Exploration of Values and Ideals</b>
        <div class="minitopic-description">
          Idealism in education emphasizes the significance of spiritual and moral values, striving towards the realization of an ideal society. It
          delves into the realms of ethics, virtue, and the pursuit of higher ideals.
        </div>
      </li>
      <li>
        <span class="minitopic">Realism</span> <b>– Scientific Foundations in Education</b>
        <div class="minitopic-description">
          Realism, as an educational philosophy, grounds itself in scientific principles and a pragmatic understanding of the world. It seeks to
          impart practical knowledge and skills that are applicable to real-life situations.
        </div>
      </li>
      <li>
        <span class="minitopic">Empiricism</span> <b>– Learning Through the Senses</b>
        <div class="minitopic-description">
          Empiricism in education emphasizes the role of sensory experiences in the learning process. It advocates for direct observation,
          experimentation, and hands-on learning to acquire knowledge.
        </div>
      </li>
      <li>
        <span class="minitopic">Naturalism</span> <b>– Exploring Innate Qualities</b>
        <div class="minitopic-description">
          Naturalism in education focuses on the innate tendencies and instincts of individuals. It involves a holistic approach to learning,
          recognizing the interconnectedness of humans with their environment.
        </div>
      </li>
      <li>
        <span class="minitopic">Existentialism</span> <b>– Embracing Choice and Individuality</b>
        <div class="minitopic-description">
          Existentialism in education revolves around the notions of individual choice, personal responsibility, and the uniqueness of each learner.
          It encourages students to make meaningful decisions and find their own purpose in life.
        </div>
      </li>
      <li>
        <span class="minitopic">Essentialism</span> <b>– Specialization in Fundamental Knowledge</b>
        <div class="minitopic-description">
          Essentialism in education advocates for a back-to-basics approach, emphasizing the mastery of essential, foundational subjects. It promotes
          specialization in core knowledge areas deemed crucial for personal and societal development.
        </div>
      </li>
      <li>
        <span class="minitopic">Perennialism</span> <b>– Embracing Classics and Tradition</b>
        <div class="minitopic-description">
          Perennialism in education emphasizes the enduring value of classic literature and traditional knowledge. It believes in the timeless nature
          of certain subjects and promotes their continued inclusion in the curriculum.
        </div>
      </li>
      <li>
        <span class="minitopic">Pragmatism</span> <b>– Activating Skills for Practical Application</b>
        <div class="minitopic-description">
          Pragmatism in education focuses on the practical application of knowledge and skills. It encourages students to develop problem-solving
          abilities and apply what they learn to real-world situations.
        </div>
      </li>
      <li>
        <span class="minitopic">Progressivism</span> <b>– Child-Centered Learning</b>
        <div class="minitopic-description">
          Progressivism in education centers on the needs and interests of the child. It promotes a student-driven, experiential learning environment,
          encouraging critical thinking and creativity.
        </div>
      </li>
      <li>
        <span class="minitopic">Epicureanism</span> <b>– Pursuit of Perfection in Education</b>
        <div class="minitopic-description">
          Epicureanism in education revolves around the pursuit of intellectual and personal perfection. It encourages a balanced and harmonious
          approach to learning and life.
        </div>
      </li>
      <li>
        <span class="minitopic">Agnosticism</span> <b>– Embracing the Unknown in Education</b>
        <div class="minitopic-description">
          Agnosticism in education acknowledges the limits of human knowledge. It promotes humility in the face of uncertainties and encourages
          open-minded exploration without claiming absolute truths.
        </div>
      </li>
      <li>
        <span class="minitopic">Stoicism</span> <b>– Temperance in the Face of Passionate Emotions</b>
        <div class="minitopic-description">
          Stoicism in education advocates for emotional resilience and temperance. It encourages students to manage their emotions and develop a sense
          of inner strength in the face of challenges.
        </div>
      </li>
      <li>
        <span class="minitopic">Hedonism</span> <b>– Understanding Pleasure in Education</b>
        <div class="minitopic-description">
          Hedonism in education explores the role of pleasure and enjoyment in the learning process. It encourages a positive and engaging educational
          experience that sparks curiosity and enthusiasm.
        </div>
      </li>
      <li>
        <span class="minitopic">Humanism</span> <b>– Celebrating the Human Experience</b>
        <div class="minitopic-description">
          Humanism in education places humans at the center of the learning experience. It emphasizes the development of well-rounded individuals with
          a focus on ethics, empathy, and cultural understanding.
        </div>
      </li>
      <li>
        <span class="minitopic">Constructivism</span> <b>– Activating Prior Knowledge</b>
        <div class="minitopic-description">
          Constructivism in education emphasizes the importance of building new knowledge on prior experiences and understanding. It encourages
          learners to actively construct their understanding through hands-on experiences and collaborative activities.
        </div>
      </li>
      <li>
        <span class="minitopic">Reconstructionism</span> <b>– Educational Solutions to Societal Problems</b>
        <div class="minitopic-description">
          Reconstructionism in education seeks to address societal issues through the educational system. It encourages students to critically examine
          and actively participate in finding solutions to real-world problems.
        </div>
      </li>
      <li>
        <span class="minitopic">Scholasticism</span> <b>– Rationalization of Church Doctrine in Education</b>
        <div class="minitopic-description">
          Scholasticism in education involves the rationalization and systematization of church doctrine. It emphasizes the integration of faith and
          reason, fostering a scholarly approach to religious education.
        </div>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Navigating Educational Theories: Insights into Learning and Development</h4>
    <ol>
      <li>
        <span class="minitopic">Stages of Development</span> <b>– Unraveling Jean Piaget's Theories on Cognitive Growth</b>
        <div class="minitopic-description">
          Jean Piaget's groundbreaking work explores the various stages of cognitive development, shedding light on how individuals progress in their
          thinking abilities over time.
        </div>
      </li>
      <li>
        <span class="minitopic">Cognitivism</span> <b>– Jerome Bruner's Influence on Discovery Learning and Concrete-to-Abstract Thinking</b>
        <div class="minitopic-description">
          Cognitivism, as shaped by Jerome Bruner, delves into the significance of discovery learning and the gradual transition from concrete to
          abstract thinking in the educational process.
        </div>
      </li>
      <li>
        <span class="minitopic">Behaviourism</span> <b>– Watson's Environmental Impact on Learning</b>
        <div class="minitopic-description">
          Rooted in environmental influences, behaviorism, as introduced by Watson, explores how the external environment shapes and influences an
          individual's behavior and learning.
        </div>
      </li>
      <li>
        <span class="minitopic">Connectionism</span> <b>– Thorndike's Insights into Classroom Environments</b>
        <div class="minitopic-description">
          Thorndike's connectionism theory emphasizes the role of the classroom environment in shaping learning outcomes, focusing on the connections
          formed between stimuli and responses.
        </div>
      </li>
      <li>
        <span class="minitopic">Humanism</span> <b>– Carl Rogers' Advocacy for Child-Centered Education</b>
        <div class="minitopic-description">
          Humanism, championed by Carl Rogers, places the child at the center of the educational experience, highlighting the importance of individual
          growth, self-actualization, and personal fulfillment.
        </div>
      </li>
      <li>
        <span class="minitopic">Operant Conditioning</span> <b>– Skinner's Exploration of Reinforcement and Punishment</b>
        <div class="minitopic-description">
          B.F. Skinner's operant conditioning theory explores how reinforcement and punishment contribute to the shaping of behavior, providing
          insights into effective teaching and learning strategies.
        </div>
      </li>
      <li>
        <span class="minitopic">Classical Conditioning</span> <b>– Understanding Habit Formation and Stimuli</b>
        <div class="minitopic-description">
          Classical conditioning, synonymous with habit formation, investigates the influence of stimuli on behavior, offering valuable insights into
          the establishment of learned associations.
        </div>
      </li>
      <li>
        <span class="minitopic">Meaningful Learning</span> <b>– Ausubel's Conceptual Understanding and Graphic Organizers</b>
        <div class="minitopic-description">
          Ausubel's theory of meaningful learning emphasizes the importance of conceptual understanding and the use of graphic organizers to
          facilitate the integration of new information with existing knowledge.
        </div>
      </li>
      <li>
        <span class="minitopic">Insightful Learning</span> <b>– Kohler's Perspective on Problem Solving and Activation of Prior Knowledge</b>
        <div class="minitopic-description">
          Wolfgang Kohler's insightful learning theory highlights the role of problem-solving and the activation of prior knowledge in fostering
          meaningful and transformative educational experiences.
        </div>
      </li>
      <li>
        <span class="minitopic">Moral Development</span> <b>– Kohlberg's Exploration of Value Formation</b>
        <div class="minitopic-description">
          Lawrence Kohlberg's theory of moral development unravels the stages through which individuals form values and ethical principles,
          contributing to a deeper understanding of moral education.
        </div>
      </li>
      <li>
        <span class="minitopic">Need Theory</span> <b>– Maslow's Hierarchy of Needs</b>
        <div class="minitopic-description">
          Abraham Maslow's need theory identifies and categorizes fundamental human needs, providing a framework for understanding motivation and its
          impact on the learning process.
        </div>
      </li>
      <li>
        <span class="minitopic">Attachment Theory</span> <b>– John Bowlby's Insights into Caregiver Influence</b>
        <div class="minitopic-description">
          Attachment theory, developed by John Bowlby, explores the critical role of caregivers in shaping emotional bonds and social development in
          children.
        </div>
      </li>
      <li>
        <span class="minitopic">Identity Statuses</span> <b>– Marcia's Exploration of Identity Formation and Confusion</b>
        <div class="minitopic-description">
          James Marcia's identity statuses theory delves into the various stages individuals go through in forming their identities, addressing the
          challenges and confusion inherent in the process.
        </div>
      </li>
      <li>
        <span class="minitopic">Field Theory</span> <b>– Examining Internal and External Environmental Influences</b>
        <div class="minitopic-description">
          Kurt Lewin's field theory explores the interplay between internal psychological factors and external environmental influences, offering a
          comprehensive view of the forces that shape behavior.
        </div>
      </li>
      <li>
        <span class="minitopic">Bioecological Theory</span> <b>– Brofenbrenner's Examination of Environmental Systems</b>
        <div class="minitopic-description">
          Urie Brofenbrenner's bioecological theory provides a systemic approach to understanding human development, emphasizing the impact of various
          environmental systems on an individual.
        </div>
      </li>
      <li>
        <span class="minitopic">Choice Theory</span> <b>– Glasser's Perspective on Decision-Making</b>
        <div class="minitopic-description">
          William Glasser's choice theory explores the importance of decision-making in the learning process, emphasizing personal responsibility and
          the role of choice in shaping behavior.
        </div>
      </li>
      <li>
        <span class="minitopic">Social Learning</span> <b>– Bandura's Modeling and Observational Learning</b>
        <div class="minitopic-description">
          Albert Bandura's social learning theory investigates the role of modeling and observational learning in the acquisition of new behaviors,
          emphasizing the influence of social interactions.
        </div>
      </li>
      <li>
        <span class="minitopic">Socio-cultural Theory</span> <b>– Vygotsky's Concept of Scaffolding and the More Knowledgeable Other (MKO)</b>
        <div class="minitopic-description">
          Lev Vygotsky's socio-cultural theory highlights the significance of scaffolding and the more knowledgeable other (MKO) in facilitating
          learning, emphasizing the role of social interaction in cognitive development.
        </div>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Kounin's Management Model (1970)</h4>
    <ol>
      <li><span class="minitopic">Stimulus Boundedness</span> - Teacher's attention interrupted by extraneous stimulus</li>
      <li>
        <span class="minitopic">Thrust</span>
        - Teacher interrupts students engaged in activities without considering whether the student is ready or not
      </li>
      <li><span class="minitopic">Dangles</span> - Teacher interrupts the activity of a student and returns to it again</li>
      <li><span class="minitopic">Truncations</span> - Teacher does not return to the current activity after being interrupted</li>
      <li>
        <span class="minitopic">Overdwelling</span>
        - Teacher focuses on a certain topic that will lead to too much time consumption, slowing down the lesson
      </li>
      <li>
        <span class="minitopic">Fragmentation</span>
        - Chunks of lesson for students to understand his/her lesson effectively or breaking down of activities to cause too much time
      </li>
      <li>
        <span class="minitopic">Flip Flop</span>
        - Teacher changes its activity from the current activity to a new one and vice versa whenever he/she changes his/her mind
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Psychological Theories and Their Proponents</h4>
    <ol>
      <li><span class="minitopic">Wilhelm Wundt</span> - German psychologist, founder of modern psychology.</li>
      <li><span class="minitopic">Edward Titchener</span> - Structuralism psychology advocate.</li>
      <li>
        <span class="minitopic">William James, G. Stanley Hall, James M. Cattell</span> - Prominent figures in functionalism psychology promotion.
      </li>
      <li>
        <span class="minitopic">Charles Darwin</span> - Pioneer of evolutionary psychology, linking mental characteristics to human thinking, feeling,
        and behavior.
      </li>
      <li><span class="minitopic">Herman Ebbinghaus</span> - Associated with associationism psychology.</li>
      <li><span class="minitopic">Edwin Guthrie</span> - Contributions to stimulus and response theories, emphasizing temporal contiguity.</li>
      <li><span class="minitopic">Edward Lee Thorndike</span> - Noted for "satisfaction" and the formulation of "the law of effect."</li>
      <li><span class="minitopic">Ivan Pavlov</span> - Groundbreaking work on involuntary behavior.</li>
      <li><span class="minitopic">Max Wertheimer</span> - Key figure in gestalt psychology.</li>
      <li><span class="minitopic">Otto Loewi</span> - Discovered acetylcholine, responsible for muscle stimulation.</li>
      <li><span class="minitopic">Ulf von Euler</span> - Discovered norepinephrine, involved in bringing our nervous system into "high alert."</li>
      <li><span class="minitopic">Arvid Carlsson</span> - Discovered dopamine, associated with reward mechanisms in the brain.</li>
      <li><span class="minitopic">Jean Piaget</span> - Pioneer in cognitive development, information processing, and dynamic interrelation.</li>
      <li><span class="minitopic">Sigmund Freud</span> - Renowned for psychosexual and psychoanalytic theories.</li>
      <li><span class="minitopic">Erik Erikson</span> - Psychosocial theorist.</li>
      <li><span class="minitopic">Lawrence Kohlberg</span> - Pioneer in moral development theories.</li>
      <li><span class="minitopic">B.F. Skinner</span> - Notable for operant conditioning principles.</li>
      <li><span class="minitopic">Ivan Pavlov</span> - Renowned for classical conditioning research.</li>
      <li><span class="minitopic">Edward Lee Thorndike</span> - Contributor to connectionism theory.</li>
      <li><span class="minitopic">Albert Bandura</span> - Theorist of social learning and neo-behaviorism.</li>
      <li><span class="minitopic">Robert Gagne</span> - Developer of the sequence of instruction model.</li>
      <li><span class="minitopic">Abraham Maslow</span> - Architect of the hierarchy of needs and motivation theory.</li>
      <li><span class="minitopic">William Kohler</span> - Contributor to insight learning theories.</li>
      <li><span class="minitopic">Robert Havighurst</span> - Developer of the development task theory.</li>
      <li><span class="minitopic">Benjamin Bloom</span> - Creator of Bloom's cognitive taxonomy.</li>
      <li><span class="minitopic">Simpsons / Anita Harrow</span> - Developers of the psychomotor domain theory.</li>
      <li><span class="minitopic">David Krathwohl</span> - Contributor to the affective domain theory.</li>
      <li><span class="minitopic">Jerome Bruner</span> - Advocate for constructivist, spiral curriculum, and instrumental conceptualism.</li>
      <li>
        <span class="minitopic">Lev Vygotsky</span> - Developer of socio-cultural theory of cognitive development, linguistic theory, and scaffolding.
      </li>
      <li><span class="minitopic">Edgar Dale</span> - Creator of the cone of experience (20% remember).</li>
      <li><span class="minitopic">Gestalt Psychology (Kohler, Koffka, Wertheimer)</span> - Pioneers in gestalt psychology.</li>
      <li><span class="minitopic">John Locke</span> - Advocate for tabula rasa and empiricism.</li>
      <li><span class="minitopic">Howard Gardner</span> - Proponent of multiple intelligences theory.</li>
      <li><span class="minitopic">Noam Chomsky</span> - Theorist of language acquisition, theory of linguistic, and nativism.</li>
      <li><span class="minitopic">David Ausubel</span> - Advocate for meaningful learning, graphic organizers, and educational assumptions.</li>
      <li><span class="minitopic">Charles Cooley</span> - Developer of the looking glass self theory.</li>
      <li><span class="minitopic">John Flavell</span> - Contributor to metacognition theories.</li>
      <li><span class="minitopic">Sandra Bem</span> - Developer of the gender schema theory.</li>
      <li><span class="minitopic">Elliot Turiel</span> - Contributor to social domain theory.</li>
      <li><span class="minitopic">Robert Sternberg</span> - Architect of the triarchic theory of intelligence.</li>
      <li><span class="minitopic">John Watson</span> - Proponent of behavioral theory.</li>
      <li><span class="minitopic">Maria Montessori</span> - Advocate for the transfer of learning and kindergarten preparation of children.</li>
      <li><span class="minitopic">Edward Tolman</span> - Developer of purposive behaviorism and goal-oriented theories.</li>
      <li><span class="minitopic">Edward Torrance</span> - Contributor to creative problem-solving theories.</li>
      <li><span class="minitopic">Bernard Weiner</span> - Developer of attribution theory.</li>
      <li><span class="minitopic">Daniel Goleman</span> - Pioneer in emotional intelligence theories.</li>
      <li><span class="minitopic">Wolfgang Ratke</span> - Advocate for using vernacular for approaching the class.</li>
      <li><span class="minitopic">Mencius</span> - Representative of the idealistic wing of Confucianism.</li>
      <li><span class="minitopic">Hzun Tzu</span> - Representative of the realistic wing of Confucianism.</li>
      <li><span class="minitopic">Taoism</span> - Associated with Lao Tzu.</li>
      <li><span class="minitopic">Herbart Spencer</span> - Contributor to moral development theories.</li>
      <li><span class="minitopic">Pestalozzi</span> - Advocate for the symmetrical and harmonious development of children.</li>
      <li><span class="minitopic">John Jacques Rousseau</span> - Focused on the nature of the child.</li>
      <li><span class="minitopic">Arnold Gesell</span> - Developer of maturation theory.</li>
      <li><span class="minitopic">John Dewey</span> - Advocate for learning by doing.</li>
      <li><span class="minitopic">David Froebel</span> - Regarded as the father of kindergarten.</li>
      <li><span class="minitopic">John Bowly</span> - Creator of the Attainment Theory.</li>
      <li><span class="minitopic">Edward de Bono</span> - Developer of the Six Thinking Hats Theory.</li>
      <li><span class="minitopic">Auguste Comte</span> - Recognized as the Father of Sociology.</li>
      <li><span class="minitopic">Carlos Linnaeus</span> - Acknowledged as the Father of Modern Taxonomy.</li>
      <li><span class="minitopic">John Amos Comenius</span> - Considered the Father of Modern Education.</li>
      <li><span class="minitopic">Erasmus Desiderius</span> - Acknowledged as the Father of Humanism/Social Humanism.</li>
      <li><span class="minitopic">William Kilpatrick</span> - Advocate for the Project Method.</li>
    </ol>
  </div>
</section>
