<section>
  <h2 class="content-title">English - Literary Works and Their Authors</h2>
  <div class="content-card">
    <h4 class="topic">International Literatures</h4>
    <ol>
      <li>
        <span class="minitopic">Leqi-Unninni, Scribe (700 BCE)</span>
        <p>The Epic of Gilgamesh</p>
      </li>
      <li>
        <span class="minitopic">Homer (800 BCE)</span>
        <p>The Iliad</p>
        <p>Odyssey</p>
      </li>
      <li>
        <span class="minitopic">Confucius (551-479 BCE)</span>
        <p>The Analects</p>
      </li>
      <li>
        <span class="minitopic">Aeschylus (496-406 BCE)</span>
        <p>The Oresteia</p>
        <p>Agamemnon</p>
      </li>
      <li>
        <span class="minitopic">Sophocles (496-406 BCE)</span>
        <p>Theban Plays: Oedipus Rex</p>
        <p>Theban Plays: Oedipus at Colonus</p>
        <p>Theban Plays: Antigone</p>
      </li>
      <li>
        <span class="minitopic">Euripides (948-406 BCE)</span>
        <p>Alcestis</p>
        <p>Medea</p>
        <p>Hippolytus</p>
        <p>The Trojan Women</p>
        <p>Electra</p>
      </li>
      <li>
        <span class="minitopic">Herodotus (484-425 BCE)</span>
        <p>The Histories</p>
      </li>
      <li>
        <span class="minitopic">Thucydides (470-400 BCE)</span>
        <p>The History of the Peloponnesian War</p>
      </li>
      <li>
        <span class="minitopic">Sun-Tzu (450-380 BCE)</span>
        <p>The Art of War</p>
      </li>
      <li>
        <span class="minitopic">Aristophanes (448-388 BCE)</span>
        <p>Lysistrata</p>
        <p>The Clouds</p>
        <p>The Birds</p>
      </li>
      <li>
        <span class="minitopic">Plato (428-348 BCE)</span>
        <p>The Republic</p>
      </li>
      <li>
        <span class="minitopic">Aristotle (384-322 BCE)</span>
        <p>Poetics</p>
        <p>Ethics</p>
        <p>Politics</p>
      </li>
      <li>
        <span class="minitopic">Mencius (400-320 BCE)</span>
        <p>The Book of Mencius</p>
      </li>
      <li>
        <span class="minitopic">Valmiki (300 BCE)</span>
        <p>The Ramayana</p>
      </li>
      <li>
        <span class="minitopic">Vyasa (200 BCE)</span>
        <p>The Mahabharata</p>
      </li>
      <li>
        <span class="minitopic">Anonymous (200 BCE)</span>
        <p>The Bhagavad Gita</p>
      </li>
      <li>
        <span class="minitopic">Ssu-ma Che’ien (145-86 BCE)</span>
        <p>Records of the Grand Historian</p>
      </li>
      <li>
        <span class="minitopic">Lucretius (100-50 BCE)</span>
        <p>On the Nature of Things</p>
      </li>
      <li>
        <span class="minitopic">Virgil (70-19 BCE)</span>
        <p>The Aeneid</p>
      </li>
      <li>
        <span class="minitopic">Marcus Aurelius (121-180)</span>
        <p>Meditations</p>
      </li>
      <li>
        <span class="minitopic">Saint Augustine (354-430)</span>
        <p>The Confessions</p>
      </li>
      <li>
        <span class="minitopic">Kalidasa (400)</span>
        <p>The Cloud Messenger</p>
        <p>Sakuntala/Shakuntala</p>
      </li>
      <li>
        <span class="minitopic">Omar Khayyam (1048)</span>
        <p>The Rubaiyat</p>
      </li>
      <li>
        <span class="minitopic">Dante Alighieri (1265-1321)</span>
        <p>The Divine Comedy</p>
      </li>
      <li>
        <span class="minitopic">Firdaus (940-1020)</span>
        <p>Shah Nameh</p>
      </li>
      <li>
        <span class="minitopic">Sei Shonagon (965-1035)</span>
        <p>The Pillow Book</p>
      </li>
      <li>
        <span class="minitopic">Lady Murasaki Shikibu (976-1015)</span>
        <p>The Tale of Genji (First Novel in the World)</p>
      </li>
      <li>
        <span class="minitopic">Muhammad (650)</span>
        <p>The Koran</p>
      </li>
      <li>
        <span class="minitopic">Hui-Neng (638-713)</span>
        <p>The Platform Sutra of the Sixth Patriarch</p>
      </li>
      <li>
        <span class="minitopic">Omar Khayyam (1048)</span>
        <p>The Rubaiyat</p>
      </li>
      <li>
        <span class="minitopic">Dante Alighieri (1265-1321)</span>
        <p>The Divine Comedy</p>
      </li>
      <li>
        <span class="minitopic">Kuan-Chung Luo (1330-1400)</span>
        <p>The Romance of the Three Kingdoms</p>
      </li>
      <li>
        <span class="minitopic">Geoffrey Chaucer (1342-1400)</span>
        <p>The Canterbury Tales</p>
      </li>
      <li>
        <span class="minitopic">Anonymous (1500)</span>
        <p>1001 Nights/Arabian Nights</p>
      </li>
      <li>
        <span class="minitopic">Nicolo Machiavelli (1469-1527)</span>
        <p>The Prince</p>
      </li>
      <li>
        <span class="minitopic">Francois Rabelais (1483-1553)</span>
        <p>Gargantua and Pantagruel</p>
      </li>
      <li>
        <span class="minitopic">Wu Che’eng-en (1500-1582)</span>
        <p>Journey to the West</p>
      </li>
      <li>
        <span class="minitopic">Michel de Montaigne (1533-1592)</span>
        <p>Essays-Apology for Raymond Sebond</p>
      </li>
      <li>
        <span class="minitopic">Miguel de Cervantes Saavedra (1547-1616)</span>
        <p>Don Quixote</p>
      </li>
      <li>
        <span class="minitopic">William Shakespeare</span>
        <p>Romeo and Juliet</p>
        <p>Much Ado About Nothing</p>
        <p>Twelfth Night</p>
        <p>The Merchant of Venice</p>
      </li>
      <li>
        <span class="minitopic">Donne, John (1573-1631)</span>
        <p>Devotions</p>
        <p>Sermons</p>
        <p>First and Second Anniversaries</p>
      </li>
      <li>
        <span class="minitopic">Galilei, Galileo (1574-1642)</span>
        <p>Dialogue Concerning The Two Chief World Systems</p>
      </li>
      <li>
        <span class="minitopic">Hobbes, Thomas (1588-1679)</span>
        <p>Leviathan</p>
      </li>
      <li>
        <span class="minitopic">Descartes, Rene (1596-1650)</span>
        <p>Discourse on Method</p>
      </li>
      <li>
        <span class="minitopic">Milton, John (1608-1674)</span>
        <p>Paradise Lost</p>
        <p>Lycidas</p>
        <p>Areopagitica</p>
      </li>
      <li>
        <span class="minitopic">Moliere (1622-1673)</span>
        <p>The School for Wives</p>
        <p>Tartuffe</p>
        <p>The Would-Be Gentleman</p>
      </li>
      <li>
        <span class="minitopic">Pascal, Blaise (1623-1662)</span>
        <p>Thoughts</p>
      </li>
      <li>
        <span class="minitopic">Bunyan, John (1628-1688)</span>
        <p>Pilgrim's Progress</p>
      </li>
      <li>
        <span class="minitopic">Locke, John (1632-1704)</span>
        <p>Second Treatise of Government</p>
      </li>
      <li>
        <span class="minitopic">Basho, Matsu (1644-1694)</span>
        <p>The Narrow Road to the Deep North</p>
      </li>
      <li>
        <span class="minitopic">Defoe, Daniel (1660-1731)</span>
        <p>Robinson Crusoe</p>
      </li>
      <li>
        <span class="minitopic">Swift, Jonathan (1667-1745)</span>
        <p>Gulliver’s Travels</p>
      </li>
      <li>
        <span class="minitopic">Voltaire (1694-1778)</span>
        <p>Candide</p>
        <p>An Enquiry Concerning Human Understanding</p>
      </li>
      <li>
        <span class="minitopic">Hume, David (1711-1776)</span>
        <p>Tom Jones</p>
      </li>
      <li>
        <span class="minitopic">Fielding, Henry (1707-1754)</span>
        <p>The Scarlet Letter</p>
      </li>
      <li>
        <span class="minitopic">Hawthorne, Nathaniel (1804-1864)</span>
        <p>Democracy in America</p>
      </li>
      <li>
        <span class="minitopic">De Tocqueville, Alexis (1805-1859)</span>
        <p>On Liberty</p>
        <p>The Subjection of Women</p>
      </li>
      <li>
        <span class="minitopic">Mill, John Stuart (1806-1873)</span>
        <p>The Voyage of the Beagle</p>
        <p>The Origin of the Species</p>
      </li>
      <li>
        <span class="minitopic">Darwin, Charles (1809-1859)</span>
        <p>Dead Souls</p>
      </li>
      <li>
        <span class="minitopic">Gogol, Nikolai (1809-1882)</span>
        <p>The Cask of Amontillado</p>
        <p>Annabel Lee</p>
      </li>
      <li>
        <span class="minitopic">Poe, Edgar Allan (1809-1849)</span>
        <p>Vanity Fair</p>
      </li>
      <li>
        <span class="minitopic">Thackeray, William Makepeace (1811-1863)</span>
        <p>Pickwick Papers</p>
        <p>A Tale of Two Cities</p>
        <p>A Christmas Carol</p>
        <p>David Copperfield</p>
        <p>Great Expectations</p>
      </li>
      <li>
        <span class="minitopic">Dickens, Charles (1812-1870)</span>
        <p>The Warden</p>
      </li>
      <li>
        <span class="minitopic">Trollope, Anthony (1815-1882)</span>
        <p>The Warden</p>
      </li>
      <li>
        <span class="minitopic">Bronte, Charlotte (1816-1855)</span>
        <p>Jane Eyre</p>
      </li>
      <li>
        <span class="minitopic">Bronte, Emily (1818-1848)</span>
        <p>Wuthering Heights</p>
      </li>
      <li>
        <span class="minitopic">Thoreau, Henry David (1817-1862)</span>
        <p>Walden</p>
        <p>Civil Disobedience</p>
      </li>
      <li>
        <span class="minitopic">Turgeney, Ivan (1818-1883)</span>
        <p>Fathers and Sons</p>
      </li>
      <li>
        <span class="minitopic">Marx, Karl (1818-1883)</span>
        <p>The Communist Manifesto</p>
      </li>
      <li>
        <span class="minitopic">Melville, Herman (1819-1891)</span>
        <p>Moby Dick</p>
      </li>
      <li>
        <span class="minitopic">Eliot, George (1819-1880)</span>
        <p>The Mill on the Floss</p>
        <p>Middlemarch</p>
        <p>Silas Marner</p>
      </li>
      <li>
        <span class="minitopic">Whitman, Walt (1819-1892)</span>
        <p>Leaves of Grass</p>
      </li>
      <li>
        <span class="minitopic">Flaubert, Gustave (1821-1880)</span>
        <p>Madame Bovary</p>
      </li>
      <li>
        <span class="minitopic">Dostoyevsky, Fyodor (1821-1880)</span>
        <p>Crime and Punishment</p>
        <p>The Brothers Karamazov</p>
      </li>
      <li>
        <span class="minitopic">Tolstoy, Leo (1828-1910)</span>
        <p>War and Peace</p>
        <p>Anna Karenina</p>
      </li>
      <li>
        <span class="minitopic">Dickinson, Emily (1830-1886)</span>
        <p>The Soul Selects Her Society</p>
        <p>A Dimple in the Tomb</p>
      </li>
      <li>
        <span class="minitopic">Twain, Mark (1835-1910)</span>
        <p>The Adventures of Huckleberry Finn</p>
        <p>The Adventures of Tom Sawyer</p>
      </li>
      <li>
        <span class="minitopic">Hardy, Thomas (1840-1928)</span>
        <p>The Mayor of Casterbridge</p>
      </li>
      <li>
        <span class="minitopic">Freud, Sigmund (1856-1939)</span>
        <p>The Interpretation of Dreams</p>
      </li>
      <li>
        <span class="minitopic">Chekhov, Anton (1860-1904)</span>
        <p>Uncle Vanya</p>
        <p>Three Sisters</p>
        <p>The Cherry Orchard</p>
      </li>
      <li>
        <span class="minitopic">Jefferson, Thomas</span>
        <p>Basic Documents in American History</p>
      </li>
      <li>
        <span class="minitopic">Goethe, Johann Wolfgang von</span>
        <p>Faust</p>
      </li>
      <li>
        <span class="minitopic">Blake, William (1757-1827)</span>
        <p>A Poison Tree</p>
      </li>
      <li>
        <span class="minitopic">Wordsworth, William (1770-1850)</span>
        <p>The Prelude</p>
      </li>
      <li>
        <span class="minitopic">Coleridge, Samuel Taylor (1772-1834)</span>
        <p>The Ancient Mariner</p>
        <p>Christabel</p>
        <p>Kubla Khan</p>
      </li>
      <li>
        <span class="minitopic">Austen, Jane (1775-1817)</span>
        <p>Pride and Prejudice</p>
        <p>Emma</p>
      </li>
      <li>
        <span class="minitopic">Stendhal (1783-1842)</span>
        <p>The Red and the Black</p>
      </li>
      <li>
        <span class="minitopic">De Balzac, Honore (1799-1850)</span>
        <p>Pere Goriot</p>
        <p>Eugenie</p>
        <p>Cousin Bette</p>
      </li>
      <li>
        <span class="minitopic">Emerson, Ralph Waldo (1803-1882)</span>
        <p>Self-Reliance</p>
      </li>
      <li>
        <span class="minitopic">Hawthorne, Nathaniel (1804-1864)</span>
        <p>The Scarlet Letter</p>
      </li>
      <li>
        <span class="minitopic">De Tocqueville, Alexis (1805-1859)</span>
        <p>Democracy in America</p>
        <p>On Liberty</p>
        <p>The Subjection of Women</p>
      </li>
      <li>
        <span class="minitopic">Mill, John Stuart (1806-1873)</span>
        <p>The Voyage of the Beagle</p>
        <p>The Origin of the Species</p>
      </li>
      <li>
        <span class="minitopic">Darwin, Charles (1809-1859)</span>
        <p>Dead Souls</p>
      </li>
      <li>
        <span class="minitopic">Gogol, Nikolai (1809-1882)</span>
        <p>The Cask of Amontillado</p>
        <p>Annabel Lee</p>
      </li>
      <li>
        <span class="minitopic">Poe, Edgar Allan (1809-1849)</span>
        <p>Vanity Fair</p>
      </li>
      <li>
        <span class="minitopic">Thackeray, William Makepeace (1811-1863)</span>
        <p>Pickwick Papers</p>
        <p>A Tale of Two Cities</p>
        <p>A Christmas Carol</p>
        <p>David Copperfield</p>
        <p>Great Expectations</p>
      </li>
      <li>
        <span class="minitopic">Dickens, Charles (1812-1870)</span>
        <p>The Warden</p>
      </li>
      <li>
        <span class="minitopic">Trollope, Anthony (1815-1882)</span>
        <p>Jane Eyre</p>
      </li>
      <li>
        <span class="minitopic">Bronte, Charlotte (1816-1855)</span>
        <p>Wuthering Heights</p>
      </li>
      <li>
        <span class="minitopic">Bronte, Emily (1818-1848)</span>
        <p>Walden</p>
        <p>Civil Disobedience</p>
      </li>
      <li>
        <span class="minitopic">Thoreau, Henry David (1817-1862)</span>
        <p>Fathers and Sons</p>
      </li>
      <li>
        <span class="minitopic">Turgeney, Ivan (1818-1883)</span>
        <p>The Communist Manifesto</p>
      </li>
      <li>
        <span class="minitopic">Marx, Karl (1818-1883)</span>
        <p>Moby Dick</p>
      </li>
      <li>
        <span class="minitopic">Melville, Herman (1819-1891)</span>
        <p>The Mill on the Floss</p>
        <p>Middlemarch</p>
        <p>Silas Marner</p>
      </li>
      <li>
        <span class="minitopic">Eliot, George (1819-1880)</span>
        <p>Leaves of Grass</p>
      </li>
      <li>
        <span class="minitopic">Whitman, Walt (1819-1892)</span>
        <p>Madame Bovary</p>
      </li>
      <li>
        <span class="minitopic">Flaubert, Gustave (1821-1880)</span>
        <p>Crime and Punishment</p>
        <p>The Brothers Karamazov</p>
      </li>
      <li>
        <span class="minitopic">Dostoyevsky, Fyodor (1821-1880)</span>
        <p>War and Peace</p>
        <p>Anna Karenina</p>
      </li>
      <li>
        <span class="minitopic">Tolstoy, Leo (1828-1910)</span>
        <p>The Soul Selects Her Society</p>
        <p>A Dimple in the Tomb</p>
      </li>
      <li>
        <span class="minitopic">Dickinson, Emily (1830-1886)</span>
        <p>Huckleberry Finn</p>
        <p>Tom Sawyer</p>
      </li>
      <li>
        <span class="minitopic">Twain, Mark (1835-1910)</span>
        <p>The Mayor of Casterbridge</p>
      </li>
      <li>
        <span class="minitopic">Hardy, Thomas (1840-1928)</span>
        <p>The Interpretation of Dreams</p>
      </li>
      <li>
        <span class="minitopic">Freud, Sigmund (1856-1939)</span>
        <p>Uncle Vanya</p>
        <p>Three Sisters</p>
        <p>The Cherry Orchard</p>
      </li>
      <li>
        <span class="minitopic">Chekhov, Anton (1860-1904)</span>
        <p>The Age of Innocence</p>
        <p>The House of Mirth</p>
      </li>
      <li>
        <span class="minitopic">Wharton, Edith (1862-1937)</span>
        <p>The Road Not Taken</p>
        <p>Stopping by the Woods on a Snowy Evening</p>
      </li>
      <li>
        <span class="minitopic">Frost, Robert (1874-1963)</span>
        <p>A Passage of India</p>
      </li>
      <li>
        <span class="minitopic">Forster, E.M (1879-1970)</span>
        <p>Ulysses</p>
      </li>
      <li>
        <span class="minitopic">Joyce, James (1882-1941)</span>
        <p>Mrs. Dalloway</p>
        <p>To the Lighthouse</p>
        <p>Orlando</p>
      </li>
      <li>
        <span class="minitopic">Woolf, Virginia (1882-1941)</span>
        <p>Sons and Lovers</p>
        <p>Lady Chatterley’s Lover</p>
        <p>The Fox</p>
      </li>
      <li>
        <span class="minitopic">Lawrence, David Herbert (1885-1930)</span>
        <p>A Long Day’s Journey into the Night</p>
        <p>Mourning Becomes Electra</p>
      </li>
      <li>
        <span class="minitopic">O’Neil, Eugene (1888-1953)</span>
        <p>The Waste Land</p>
      </li>
      <li>
        <span class="minitopic">Eliot, T.S (1888-1965)</span>
        <p>Brave New World</p>
      </li>
      <li>
        <span class="minitopic">Huxley, Aldous (1894-1963)</span>
        <p>The Sound and the Fury</p>
        <p>A Rose for Emily</p>
      </li>
      <li>
        <span class="minitopic">Faulkner, William (1897-1962)</span>
        <p>The Old Man and the Sea</p>
      </li>
      <li>
        <span class="minitopic">Hemingway, Ernest (1899-1962)</span>
        <p>1984</p>
        <p>Animal Farm</p>
      </li>
      <li>
        <span class="minitopic">Orwell, George (1903-1950)</span>
        <p>The English Teacher</p>
      </li>
      <li>
        <span class="minitopic">Narayan, R.K</span>
        <p>Waiting for Godot</p>
      </li>
      <li>
        <span class="minitopic">Beckett, Samuel (1906-1989)</span>
        <p>One Hundred Years of Solitude</p>
        <p>Love in the Time of Cholera</p>
      </li>
      <li>
        <span class="minitopic">Marquez, Gabriel Garcia (1928-PRESENT)</span>
        <p>Things Fall Apart</p>
        <p>No Longer At Ease</p>
      </li>
      <li>
        <span class="minitopic">Achebe, Chinua (1930-PRESENT)</span>
        <p>Sula</p>
        <p>The Beloved</p>
        <p>Jazz</p>
        <p>Song of Solomon</p>
      </li>
      <li>
        <span class="minitopic">Morrison (1931-PRESENT)</span>
      </li>
    </ol>
  </div>
</section>
