/** ads **/
section {
  background-color: #90afa1;
}

.display-ads {
  height: auto !important;
  padding: 20px 0;
}

@media screen and (max-width: 420px) {
  .display-ads {
    padding: 10px 0;
  }
}
