#drills {
  padding: 25px 0;
}

.score-container,
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px 0;

  span {
    font-size: 20px;
    font-weight: 500;
  }
}

button.mat-primary,
button.mat-warn {
  font-family: "Bebas Neue";
  font-size: 18px;
  color: white;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.loader {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #c9e4d9;
}

::ng-deep .mat-mdc-snack-bar-container {
  // --mdc-snackbar-container-color: #bb35b4;
  --mdc-snackbar-container-color: var(--header);
}

mat-expansion-panel {
  background-color: #ebefec;
}

.chip {
  background: #7eb19c;
  font-size: 12px;
  border-radius: 30px;
  padding: 4px 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-expansion-panel-header {
  padding: 20px 24px;
  height: max-content;
}

.mat-expansion-panel-header-description {
  white-space: pre-line;
}

.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-title,
.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-description {
  color: #000000;
  padding: 0 12px;
}

::ng-deep .mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.report {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.logo-title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 50px;
  color: var(--header);
  text-align: center;
  padding: 20px 0 10px 0;
}

@media screen and (max-width: 420px) {
  button.mat-primary,
  button.mat-warn {
    font-size: 14px;
  }
  .logo-title {
    font-size: 40px;
    padding: 20px 0 0 0;
  }
}
