<app-desc-welcome></app-desc-welcome>
<app-desc-drills></app-desc-drills>
<section id="drills">
  <div class="sec-container">
    <div class="score-container">
      <button mat-flat-button color="primary" (click)="openBottomSheet()">
        SELECT CATEGORIES
      </button>
      <div class="chip" *ngIf="current">{{ current.major[1] }}</div>
      <span class="spacer"></span>
      <span>{{ current_item }}/{{ questionnaires.length }}</span>
    </div>
    <div class="loader" *ngIf="isloading; else display">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #display>
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="true"
          [disabled]="true"
          [hideToggle]="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-description>
              {{ current.question }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-choice
            *ngFor="let choice of current.choices"
            [choice]="choice"
            [answer]="current.answer"
            [ishome]="ishome"
            [itemNo]="current_item"
            [history]="history"
          >
          </app-choice>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
    <div class="actions">
      <button
        mat-icon-button
        (click)="openExplainDialog()"
        [disabled]="!isShowExplanation"
        aria-label="Show Explanation"
      >
        <mat-icon>question_answer</mat-icon>
      </button>
      <mat-icon
        aria-hidden="false"
        aria-label="report button"
        fontIcon="flag"
        class="report"
        color="warn"
        (click)="openReportQuestionDialog()"
      ></mat-icon>
      <div class="spacer"></div>
      <button
        mat-icon-button
        (click)="back()"
        [disabled]="current_item <= 1"
        aria-label="Back"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="!isPrompted"
        (click)="gotoSkippedQuestion()"
        aria-label="Go to skipped question"
      >
        <mat-icon>move_up</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="next()"
        [disabled]="current_item + 1 > questionnaires.length"
        aria-label="Next"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</section>
<app-desc-coverage></app-desc-coverage>
<section id="footer">
  <app-footer></app-footer>
</section>
