#drills {
  padding: 25px 0;
}

.score-container,
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px 0;

  span {
    font-size: 20px;
    font-weight: 500;
  }
}

button.mat-primary,
button.mat-warn {
  font-family: "Bebas Neue";
  font-size: 18px;
  color: white;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.loader {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #c9e4d9;
}

::ng-deep .mat-mdc-snack-bar-container {
  // --mdc-snackbar-container-color: #bb35b4;
  --mdc-snackbar-container-color: var(--header);
}

mat-expansion-panel {
  background-color: #ebefec;
}

.chip {
  background: #7eb19c;
  font-size: 12px;
  border-radius: 30px;
  padding: 4px 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-expansion-panel-header {
  padding: 20px 24px;
  height: max-content;
}

.mat-expansion-panel-header-description {
  white-space: pre-line;
}

.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-title,
.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-description {
  color: #000000;
  padding: 0 12px;
}

::ng-deep .mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.report {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.logo-title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 50px;
  color: var(--header);
  text-align: center;
  padding: 20px 0 10px 0;
}

@media screen and (max-width: 420px) {
  button.mat-primary,
  button.mat-warn {
    font-size: 14px;
  }
  .logo-title {
    font-size: 40px;
    padding: 20px 0 0 0;
  }
}

/* adfadsf */
.q-content {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23b0bb9d' fill-opacity='1' d='M0,160L60,144C120,128,240,96,360,112C480,128,600,192,720,218.7C840,245,960,235,1080,218.7C1200,203,1320,181,1380,170.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: #c7e1ba;
  background-size: 100%;
  padding: 15px 10px;
}
.chip {
  background: none;
  text-align: end;
  -webkit-text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
  text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}
.q-choices {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
