<div class="wrapper">
  <div class="icon">
    <!-- <span id="back-arrow" class="material-symbols-outlined">
      arrow_back_ios
    </span> -->
    <mat-icon id="back-arrow">arrow_back_ios</mat-icon>
  </div>
  <ul
    class="tabs-box"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
    #tabsbox
  >
    <li class="tab">Coding</li>
    <li class="tab">Javascript</li>
    <li class="tab">Podcast</li>
    <li class="tab">Home</li>
    <li class="tab">Travel</li>
    <li class="tab">Hobby</li>
    <li class="tab">Fulfilled life</li>
    <li class="tab">Marriage</li>
    <li class="tab">Databases</li>
    <li class="tab">Web Development</li>
    <li class="tab">Unboxing</li>
    <li class="tab">History</li>
    <li class="tab">Programming</li>
    <li class="tab">Gadgets</li>
    <li class="tab">Algorithms</li>
    <li class="tab">Comedy</li>
    <li class="tab">Gaming</li>
    <li class="tab">Share Market</li>
    <li class="tab">Smartphones</li>
    <li class="tab">Data Structure</li>
  </ul>
  <div class="icon">
    <mat-icon id="forward-arrow">arrow_forward_ios</mat-icon>
  </div>
</div>

<div class="draggable-container" (mousedown)="onMouseDown($event)">
  <div class="draggable-element" #draggableElement>
    <!-- Your draggable content goes here -->
  </div>
</div>
