<section id="app-exam">
  <div class="sec-container">
    <app-exam></app-exam>
  </div>
</section>
<section id="description">
  <div class="divider">
    WELCOME TO
    <div class="logo">Pass That Board</div>
  </div>
  <div class="sec-container">
    <div class="content">
      We are your ultimate destination for a comprehensive and free board exam
      reviewer. Whether you're preparing for education, civil service, or
      engineering exams, our website offers a vast collection of high-quality
      questions sourced from various reliable resources (see our <a [routerLink]="['/policy']">copyright policy</a>). Our mission is to
      empower aspiring professionals with the knowledge and confidence they need
      to excel in their exams and achieve their career goals. Get ready to ace
      your exams with
      <span class="logo">Pass That Board</span>
      - your trusted study companion!
    </div>
  </div>
</section>
<section id="footer">
  <app-footer></app-footer>
</section>
