<section id="app-exam">
  <div class="sec-container">
    <app-exam></app-exam>
  </div>
</section>
<section id="description">
  <div class="divider">PASS THAT BOARD</div>
  <div class="sec-container">
    <div class="content">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s,
    </div>
    <!-- <app-slider></app-slider> -->
  </div>
</section>
<section id="footer">
  <app-footer></app-footer>
</section>
