<section>
  <h2 class="content-title">Science - Scientific Methods</h2>
  <div class="content-card">
    <h4 class="topic">Scientific method</h4>
    <p>
      a systematic approach/procedure in investigating nature; a combination of observations, experimentation and formulation of laws, hypotheses and
      theories; an organized approach to research
    </p>

    <ol>
      <li>
        <span class="minitopic">Observation or Data Gathering</span> - his is the first step where scientists observe a phenomenon or gather data
        related to a particular topic. Observations can be made through direct sensory experience or using instruments. <br />
        <i>Observation vs. Inference</i>
        <ol type="A">
          <li>
            <span class="keyword">Observations</span> - things perceived by the senses; can be quantitative or qualitative
            <br />
            <b>Qualitative</b> consist of general observations about the system <br />
            <b>Quantitative</b> consist of numbers obtained by various measurements of the system
            <div class="examples">
              <i>Examples:</i>
              <ol type="a">
                <li>Ice floats in water</li>
                <li>Vinegar is sour</li>
                <li>Body temperature is 39.0 °C</li>
                <li>An object weighs 1.5 kg</li>
              </ol>
            </div>
          </li>
          <li>
            <p><span class="keyword">Inference</span> - interpretation of the observation</p>
            <div class="examples">
              The clouds are dark. (observation) <br />
              It might rain. (inference)
            </div>
          </li>
        </ol>
      </li>
      <li>
        <span class="minitopic">Defining a problem</span> - Based on the observations, scientists define a specific problem or question that needs to
        be addressed. This step involves clearly stating the purpose of the research.
      </li>
      <li>
        <span class="minitopic">Formulate a possible solution (Hypothesis Making)</span> - an educated guess to explain an observation; a tentative
        explanation of a natural law based on observation <br />
        <b>Are the observations answerable by any natural law? </b>
        <p>
          <span class="keyword">Natural Law</span> - a pattern or consistency in observation of natural phenomena; a verbal or mathematical statement
          which relates a series of observation
        </p>
        <div class="examples">
          <i>Examples:</i> <br />
          Law of Conservation of Mass <br />
          Law of Thermodynamics
        </div>
      </li>
      <li>
        <span class="minitopic">Experimentation</span> - Is the hypothesis really the answer to the problem?
        <p>
          Scientists design and conduct experiments to test the hypothesis. Experiments are controlled investigations that manipulate variables to
          observe their effects and gather data. The goal is to gather evidence that either supports or refutes the hypothesis.
        </p>
      </li>
      <li>
        <span class="minitopic">Interpret results</span> - After conducting experiments, scientists analyze the collected data to draw conclusions.
        They determine whether the data supports or contradicts the hypothesis. This step involves statistical analysis and critical evaluation of the
        results.
      </li>
      <li>
        <span class="minitopic">Generate a generalization</span> - Based on the interpretation of results, scientists draw generalizations or
        conclusions. These conclusions contribute to the understanding of the studied phenomenon and may lead to the development of theories or new
        hypotheses.
        <p>
          <span class="keyword">Theory</span> - a hypothesis that survived testing through experimentation; a model or a way of looking at nature that
          can be used to explain and make further predictions about natural phenomena
        </p>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Rules for Significant Figures in Measurements</h4>
    <ol type="1">
      <li>All non-zero digits are significant.</li>
      <li>
        <span class="minitopic">Zeros in Measurements</span> -
        <ol type="a">
          <li>
            <b>Trailing Zeros</b> - Final zeros after a decimal point are always significant. <br />
            (e.g., 25.330 g has 5 significant figures)
          </li>
          <li>
            <b>Captive Zeros</b> - Zeros between any two non-zero digits are significant. <br />
            (e.g., 706.3 mm has 4 significant figures)
          </li>
          <li>
            <b>Leading Zeros</b>
            <ol type="a">
              <li>
                Zeros before a decimal point are not significant. <br />
                (e.g., 0.786 g has 3 significant figures)
              </li>
              <li>
                Zeros after a decimal point, when no digits precede or when the preceding digit is zero, are not significant. <br />
                (e.g., 0.000543 cm³ has 3 significant figures)
              </li>
            </ol>
          </li>
          <li>Final Zeros in a Whole Number: May or may not be significant. Use exponential notation for clarity.</li>
        </ol>
      </li>
      <li>
        <span class="minitopic">Exact Numbers</span> - Exact numbers (e.g., the number 3 in "there are three feet in one yard") have an unlimited
        number of significant figures.
      </li>
      <li>
        <span class="minitopic">Rules for Arithmetic Operations</span> -
        <ol type="a">
          <li>
            <b>Addition and Subtraction</b> - The result should have the same number of digits to the right of the decimal point as the factor with
            the least number of digits to the right. (e.g., 35.986 + 675.8 = 1279.2, with five significant figures)
          </li>
          <li>
            <b>Multiplication and Division</b> - The result must have the same number of significant figures as the factor with the least number.
            (e.g., (34.6)(3450.0)/345 = 346, with three significant figures)
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Rules for Rounding Off Numbers</h4>
    <ol type="1">
      <li>
        If the digit to be removed is less than 5, drop this digit and leave the remaining numbers unchanged. Thus, 1.23 becomes 1.2 when rounded off
        to two significant figures.
      </li>
      <li>
        If the digit to be removed is equal to or greater than 5, drop this digit and increase the preceding digit by one. Thus, 3.46 becomes 3.5 when
        rounded off to two significant figures.
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Accuracy and Precision</h4>
    <ol type="1">
      <li>
        <span class="minitopic">Accuracy:</span>
        <ul>
          <li>Refers to the nearness of a value to the true or actual value.</li>
          <li>
            Measured by percentage error:
            <ul>
              <li><span class="keyword">Percentage Error</span> = (|Measured value - True value| / True value) x 100%</li>
            </ul>
          </li>
          <li>Higher percentage error indicates lower accuracy.</li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Precision:</span>
        <ul>
          <li>Indicates the agreement among different measurements of the same event.</li>
          <li>
            Measured by deviation:
            <ul>
              <li><span class="keyword">Deviation</span> = |Measured value - Average value|</li>
            </ul>
          </li>
          <li>Higher deviation implies lower precision.</li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Additional Content:</span>
        <ul>
          <li><span class="keyword">Error</span> - The difference between a measured value and the true (or most probable) value.</li>
          <li><span class="keyword">Deviation</span> - Absolute value of the difference between the measured value and the average value.</li>
          <li>Percentage error and deviation are quantitative measures of accuracy and precision, respectively.</li>
        </ul>
      </li>
    </ol>
  </div>
</section>
