#privacy-policy,
#data-collection,
#cookies-and-tracking,
#external-links,
#ads,
#policy-changes {
  padding: 25px 0;
}

.logo {
  font-family: "Caveat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--header);
}
