<section id="privacy-policy">
  <div class="title">Privacy Policy</div>
  <div class="content">
    This Privacy Policy explains how
    <span class="logo">Pass That Board</span> handles user data on our website
    <a href="https://passthatboard.com" aria-label="pass that board url"> https://passthatboard.com</a>. By using our
    website, you agree to the terms outlined in this Policy.
  </div>
</section>

<section id="data-collection">
  <div class="subtitle">1. Data Collection</div>
  <div class="content">
    We do not collect any personal information from users visiting our website. You can access our content without
    providing any personal data.
  </div>
</section>

<section id="cookies-and-tracking">
  <div class="subtitle">2. Cookies and Tracking</div>
  <div class="content">
    We may use cookies to improve the performance and functionality of our website. These cookies do not collect
    personal information and can be managed through your browser settings.
  </div>
</section>

<section id="external-links">
  <div class="subtitle">3. External Links</div>
  <div class="content">
    Our website may contain links to external websites. We are not responsible for the content or privacy practices of
    these third-party websites. Please review the privacy policies of external sites you visit.
  </div>
</section>

<section id="ads">
  <div class="subtitle">4. Advertising</div>
  <div class="content">
    This
    <a href="https://passthatboard.com/advertising-policy" arial-label="Advertising Policy">Advertising Policy</a>
    outlines how advertising is displayed and managed on
    <a href="https://passthatboard.com" aria-label="pass that board url">https://passthatboard.com</a>. By accessing or
    using our website, you agree to the terms outlined in this Policy.
  </div>
</section>

<section id="policy-changes">
  <div class="subtitle">5. Changes to this Policy</div>
  <div class="content">
    We may update this Privacy Policy to reflect changes in our practices or to comply with legal requirements. Any
    updates will be posted on this page.
  </div>
</section>
