.subtitle {
  font-family: "Bebas Neue";
  font-size: 23px;
  font-weight: 500;
  display: flex;
  text-align: start;
}

.logo {
  font-family: "Caveat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--header);
}

#privacy-policy {
  padding: 25px 0;
}
