<section>
  <!-- Life Category -->
  <h2 class="content-title">Life and Works of Rizal</h2>
  <div class="content-card">
    <h4 class="topic">1. Life</h4>
    <ol>
      <li><span class="minitopic">Jose Rizal:</span> Gifted physician-novelist of the propaganda.</li>
      <li><span class="minitopic">More or less 22:</span> Number of languages which Rizal could speak.</li>
      <li><span class="minitopic">Fr. Jose Rodriguez:</span> Spanish priest who denounced Dr. Rizal's novels as enemies of the Catholic religion.</li>
      <li><span class="minitopic">Dr. Ferdinand Blumentritt:</span> Supporter of the propaganda movement and Rizal's best friend.</li>
      <li><span class="minitopic">Dr. Jose Rizal:</span> The most cultured of the reformists.</li>
      <li><span class="minitopic">Dimasalang and Laon Laan:</span> Known as "Dimasalang" and "Laon Laan."</li>
      <li><span class="minitopic">Gen. Camilio G. de Polavieja:</span> Spanish governor who SIGNED the death sentence of Dr. Rizal.</li>
      <li>
        <span class="minitopic">Ferdinand Blumentritt:</span> To whom Dr. Rizal sent his letter with this line: "I AM INNOCENT OF THE CRIME OF
        REBELLION. I AM GOING TO DIE WITH A TRANQUIL CONSCIENCE."
      </li>
      <li><span class="minitopic">Fr. Rufino Collantes:</span> The priest who baptized Rizal.</li>
      <li>
        <span class="minitopic">Emilio Aguinaldo:</span> Philippine president who made December 30 as Day of National Mourning in Rizal's honor.
      </li>
      <li><span class="minitopic">11:</span> The Rizal family had this many siblings.</li>
      <li><span class="minitopic">Penafraña:</span> In 1868, Don Kiko brought Rizal to this pilgrimage.</li>
      <li><span class="minitopic">Gomburza:</span> Left an impression on Rizal about the sacrifice of one's life.</li>
      <li><span class="minitopic">June 19, 1861:</span> Our national hero was born on this date.</li>
      <li><span class="minitopic">Jose Protacio Rizal Mercado y Alonso Realonda:</span> The complete name of our national hero.</li>
      <li><span class="minitopic">Pepe:</span> Jose Rizal was fondly called "Pepe" by his family and friends.</li>
      <li><span class="minitopic">2:</span> At what age could Jose Rizal read and write?</li>
      <li><span class="minitopic">Merchant:</span> The surname Mercado when translated to English means?</li>
      <li><span class="minitopic">Uzman:</span> Rizal's dog name is.</li>
      <li>
        <span class="minitopic">2 years and 6 months:</span> The mother of Jose Rizal was imprisoned for this many years due to allegedly poisoning
        her cousin-in-law.
      </li>
      <li><span class="minitopic">Rev. Pedro Casanas:</span> The godfather of Jose Rizal.</li>
      <li><span class="minitopic">Josefa:</span> The ninth child of Francisco and Teodora who was an epileptic and died a spinster.</li>
      <li><span class="minitopic">Teodora Alonzo Realonda:</span> Jose Rizal's first teacher.</li>
    </ol>
  </div>
  <!-- Noli Me Tangere Category -->
  <div class="content-card">
    <h4 class="topic">2. Noli Me Tangere</h4>
    <ol>
      <li><span class="minitopic">Noli Me Tangere (Touch me Not):</span> First written novel of Rizal.</li>
      <li><span class="minitopic">Berlin (1887):</span> Place where the novel Noli Me Tangere was published.</li>
      <li><span class="minitopic">Maria Clara:</span> The novel, Noli Me Tangere is dedicated to.</li>
      <li><span class="minitopic">Uncle Tom's Cabin:</span> Noli Me Tangere was inspired by.</li>
      <li><span class="minitopic">Crisostomo Ibarra:</span> The main character of Noli Me Tangere.</li>
      <li><span class="minitopic">Paciano:</span> Pilosopo Tasyo is a character in Noli Me Tangere personified by whom in reality?</li>
      <li><span class="minitopic">Maximo Viola:</span> The heaven-sent financer of Noli Me Tangere.</li>
      <li><span class="minitopic">Religion, Love, Society:</span> The novel, Noli Me Tangere is about.</li>
    </ol>
  </div>
  <!-- El Filibusterismo Category -->
  <div class="content-card">
    <h4 class="topic">3. El Filibusterismo</h4>
    <ol>
      <li><span class="minitopic">Ghent (1891):</span> City where the novel El Filibusterismo was published.</li>
      <li><span class="minitopic">Simoun:</span> The main character of El Filibusterismo.</li>
      <li><span class="minitopic">Politics & Revolution:</span> The novel, El Filibusterismo is about.</li>
      <li><span class="minitopic">Valentin Ventura:</span> The novel, El Filibusterismo came off the press with the financial assistance of.</li>
      <li>
        <span class="minitopic">Paulita Gomez:</span> The girlfriend of Isagani who dumped him for another man, believing that she has no future if
        she marries him.
      </li>
      <li><span class="minitopic">13:</span> Simoun is a wealthy jeweler who came back to the Philippines after this many years.</li>
      <li><span class="minitopic">7:</span> Crisostomo Ibarra was a student abroad who had his homecoming after this many years.</li>
    </ol>
  </div>
  <!-- Other Works Category -->
  <div class="content-card">
    <h4 class="topic">4. Other Works</h4>
    <ol>
      <li><span class="minitopic">Sa Aking Mga Kabata:</span> First poem written by Rizal.</li>
      <li><span class="minitopic">Mi Ultimo Adios (Ang Huling Paalam):</span> The best poem ever written by Dr. Jose Rizal.</li>
      <li>
        <span class="minitopic">La Indolencia de los Filipinos (The Indolence of Filipinos):</span> The book written by Rizal in defense of the
        alleged laziness of the Filipinos.
      </li>
      <li><span class="minitopic">Laon Laan / Laong Laan:</span> Pen name used by Rizal in his writings in La Solidaridad.</li>
      <li><span class="minitopic">Pahimakas:</span> A translation of Rizal's farewell poem written by Andres Bonifacio in Tagalog.</li>
      <li><span class="minitopic">Feb 15, 1889:</span> Date of founding of the fortnightly newspaper "La Solidaridad."</li>
      <li><span class="minitopic">Nov. 15, 1895:</span> Date of the last issue of La Solidaridad.</li>
      <li>
        <span class="minitopic">RA 1425 / Rizal Law:</span> The law which provides that "courses on the life, works and writings of Jose Rizal,
        particularly his novels Noli Me Tangere and El Filibusterismo, shall be included in the curricula of all schools, colleges, and universities,
        public or private."
      </li>
      <li>
        <span class="minitopic">Draco Rizali, Rachphorous Rizali, Apogonia Rizali:</span> Rizal discovered 3 species named after him: Draco Rizali
        (Wandolleck), a species of flying dragon, Rachphorous Rizali (Boetger), a hitherto unknown species of toad, Apogonia Rizali (Heller), a small
        beetle.
      </li>
    </ol>
  </div>
</section>
