<section id="ads-policy">
  <div class="sec-container">
    <div class="title">Advertising Policy</div>
    <div class="content">
      This Advertising Policy outlines how advertising is displayed and managed
      on <a href="https://passthatboard.com">https://passthatboard.com</a>. By
      accessing or using our website, you agree to the terms outlined in this
      Policy.
    </div>

    <div class="subtitle">1. Advertising Display</div>
    <div class="content">
      <p>
        1.1 <b>Third-Party Ads</b>: We may display advertisements from
        third-party advertising networks and partners on our website. These ads
        may be in the form of banners, text, images, or other formats.
      </p>
      <p>
        1.2 <b>Ad Placement</b>: We strive to ensure that ads do not interfere
        with your browsing experience. Advertisements are typically placed in
        designated ad spaces, which may include headers, sidebars, or within
        content.
      </p>
      <p>
        1.3 <b>Disclosure</b>: Advertisements on our website are labeled as
        "Ads" or "Sponsored" to distinguish them from our editorial content.
      </p>
    </div>
    <div class="subtitle">2. Data Collection</div>
    <div class="content">
      <p>
        2.1 <b>Third-Party Cookies</b>: Some advertisements may use cookies and
        tracking technologies to collect data for targeted advertising. These
        technologies are controlled by the advertising networks, and we do not
        have access to or control over the information collected.
      </p>
      <p>
        2.2 <b>Your Choices</b>: You can manage your preferences for
        personalized ads by adjusting your browser settings or visiting the
        advertising network's opt-out pages.
      </p>
    </div>
    <div class="subtitle">3. Advertiser Responsibility</div>
    <div class="content">
      <p>
        3.1 <b>Advertiser Content</b>: We do not endorse the products, services,
        or content advertised on our website. Advertisers are solely responsible
        for the accuracy and legality of their advertisements.
      </p>
      <p>
        3.2 <b>Complaints</b>: If you have concerns or complaints about an
        advertisement displayed on our website, please contact the advertiser
        directly.
      </p>
    </div>
    <div class="subtitle">4. Changes to this Policy</div>
    <div class="content">
      We may update this Advertising Policy to reflect changes in our
      advertising practices or to comply with legal requirements. Any updates
      will be posted on this pag
    </div>
  </div>
</section>
<app-footer></app-footer>
