<section>
  <h2 class="content-title">Earth, Space and Astronomy</h2>
  <div class="content-card">
    <h4 class="topic">1. Major Regions of the Earth</h4>
    <p><span class="minitopic">Lithosphere</span> – the solid part and the largest portion of the earth</p>
    <p><span class="minitopic">Hydrosphere</span> – the liquid part. It covers about 71% of the earth’s surface</p>
    <p><span class="minitopic">Atmosphere</span> – the gaseous portion that envelops the earth</p>
    <p><span class="minitopic">Biosphere</span> – the region where living things are found</p>
  </div>

  <div class="content-card">
    <h4 class="topic">2. Rocks and Minerals</h4>
    <p><span class="minitopic">Igneous Rocks</span> – formed from hardened magma and lava. e.g. Rhyolite, Granite, Basalt, etc.</p>
    <p>
      <span class="minitopic">Sedimentary Rocks</span> – form from deposited fragments or particles of other rocks that have been weathered and
      eroded. e.g. Limestone, Conglomerate, Dolomite, Shale
    </p>
    <p>
      <span class="minitopic">Metamorphic Rocks</span> – rocks that have undergone changes due to heat and pressure. e.g. Marble (from limestone),
      Slate (from shale)
    </p>
    <p>
      <span class="minitopic">Weathering</span> is a term for all processes which combine to cause the disintegration and chemical alteration of rocks
      at or near the earth's surface.
    </p>
    <p>
      <span class="minitopic">Erosion</span> includes all the processes of loosening, removal, and transportation which tend to wear away the earth's
      surface.
    </p>
    <p><span class="minitopic">Lithification</span> is the conversion of unconsolidated sediment into solid rock.</p>
    <ins
      class="adsbygoogle"
      style="display: block; text-align: center"
      data-ad-layout="in-article"
      data-ad-format="fluid"
      data-ad-client="ca-pub-6202000492749464"
      data-ad-slot="2913815240"
      data-ad-channel="8279436968"
    ></ins>
  </div>

  <div class="content-card">
    <h4 class="topic">3. Weather and Climate</h4>
    <p><span class="minitopic">Meteorology</span> – the study of the earth’s atmosphere, weather, and climate</p>
    <p><span class="minitopic">Weather</span> – the daily condition of the earth’s atmosphere</p>
    <p><span class="minitopic">Climate</span> – general conditions of temperature and precipitation in a large area over a long period of time.</p>
  </div>

  <div class="content-card">
    <h4 class="topic">4. Layers in the atmosphere</h4>
    <p>
      <span class="minitopic">Troposphere</span> – layer where life exists, where different weather conditions prevail, and has the lowest temperature
    </p>
    <p>
      <span class="minitopic">Stratosphere</span> – contains ozone that serves as a protective shield against UV rays, and where the jet stream is
      found
    </p>
    <p><span class="minitopic">Mesosphere</span> – layer where meteoroids that enter the earth’s atmosphere are burned</p>
    <p><span class="minitopic">Ionosphere</span> – contains ions that are used for radio communications</p>
    <p><span class="minitopic">Exosphere</span> – orbit space for artificial satellites</p>
    <p><span class="minitopic">Winds</span> – The uneven temperature and pressure in the atmosphere result in the movement of air called winds.</p>
    <p>
      <span class="minitopic">Monsoons</span> – Examples of winds that result from the differences in the absorption and reflection of thermal energy
      by different materials of Earth.
    </p>
    <p><span class="minitopic">Meteorology</span> – the study of the earth’s atmosphere, weather, and climate</p>
    <p><span class="minitopic">Weather</span> – the daily condition of the earth’s atmosphere</p>
    <p><span class="minitopic">Climate</span> – general conditions of temperature and precipitation in a large area over a long period of time.</p>
  </div>

  <div class="content-card">
    <h4 class="topic">5. Ecology</h4>
    <p><span class="minitopic">Ecology</span> – the study of how living things interact with their environment.</p>
    <p><span class="minitopic">Biotic</span> – all living factors in the environment</p>
    <p><span class="minitopic">Abiotic</span> – nonliving factors that are essential to living organisms</p>
    <p><span class="minitopic">Population</span> – a group of the same species living together</p>
    <p><span class="minitopic">Community</span> – all the different populations living together</p>
    <p>
      <span class="minitopic">Ecosystem</span> – community of different living things interacting with one another and with their nonliving
      environment
    </p>
    <p><span class="minitopic">Biomes</span> – a large area whose ecological communities are determined by its climate.</p>
  </div>

  <div class="content-card">
    <h4 class="topic">6. Solar System</h4>
    <p>
      <span class="minitopic">Nebular Theory</span> – states that the solar system originated from a rotating gas and dust cloud composed of hydrogen,
      helium, and some heavier elements.
    </p>
    <p><span class="minitopic">Ptolemaic Theory</span> – The earth is stationary; each planet and the sun revolved around the earth.</p>
    <p>
      <span class="minitopic">Copernican Theory</span> – This theory considers the sun as the center of the solar system. The earth and other planets
      revolve around the sun in a circular orbit.
    </p>
    <p>
      <span class="minitopic">Asteroids</span> - are objects that orbit the sun like planets. However, they are smaller than the planets and so they
      are sometimes called minor planets.
    </p>
    <p><span class="minitopic">Meteoroids</span> – are objects smaller than the asteroids that revolve around the sun.</p>
    <p><span class="minitopic">Comet</span> - is a mass of frozen materials such as water, methane, and ammonia along with bits of rock and dust.</p>
    <p>
      <span class="minitopic">Solar Eclipse</span> – when the sun, the moon, and the earth are in a straight line. During a solar eclipse, the sun
      can’t be seen from earth because the moon covers it.
    </p>
    <p><span class="minitopic">Lunar Eclipse</span> – same as a solar eclipse, but in this case, the sun covers the moon.</p>
  </div>

  <div class="content-card">
    <h4 class="topic">7. Planets</h4>
    <p><span class="minitopic">Mercury</span> - Rocky, cratered surface; extremely thin atmosphere</p>
    <p><span class="minitopic">Venus</span> - Thick cloud cover; greenhouse effect</p>
    <p><span class="minitopic">Earth</span> - Liquid water, life</p>
    <p><span class="minitopic">Mars</span> - Polar ice caps, pink sky, dominant volcanoes</p>
    <p><span class="minitopic">Jupiter</span> - Great red spots, thin ring; huge magnetosphere</p>
    <p><span class="minitopic">Saturn</span> - Many rings and ringlets, Titan only moon with a substantial atmosphere</p>
    <p><span class="minitopic">Uranus</span> - Rotates on side; worldwide ocean of superheated water</p>
    <p><span class="minitopic">Neptune</span> - Unusual satellite rotation, 4 rings, great dark spot</p>
  </div>
</section>
