<section id="filipino-coverage">
  <div class="subtitle">1. Mga Batayang Teoretikal</div>
  <div class="subcontent">
    <div class="subtopic">Introduksyon sa Pag-aaral ng Wika</div>
    <div class="content">
      This topic provides a foundational understanding of linguistics and
      language theory. It covers the basic concepts and principles of language,
      including its structure, functions, and evolution. Teachers are expected
      to comprehend the theoretical underpinnings of language to effectively
      teach it.
    </div>

    <div class="subtopic">Panimulang Linggwistika</div>
    <div class="content">
      This section delves deeper into linguistic theory, exploring topics such
      as phonetics, syntax, semantics, and sociolinguistics. It equips teachers
      with the knowledge needed to analyze the structure and use of language.
    </div>
  </div>

  <div class="subtitle">2. Nilalaman</div>
  <div class="subcontent">
    <div class="subtopic">Wika</div>
    <div class="content">
      This area focuses on the Filipino language, including its grammar,
      vocabulary, and usage. Teachers must have a strong grasp of Filipino to
      facilitate effective language instruction.
    </div>

    <div class="subtopic">Panitikan</div>
    <div class="content">
      Covers various aspects of Filipino literature, including literary forms,
      historical context, and prominent literary works and authors. Teachers
      should be well-versed in Filipino literature to teach it comprehensively.
    </div>
  </div>

  <div class="subtitle">3. Metodolohiya, Pagtataya at Ebalwasyon </div>
  <div class="subcontent">
    <div class="subtopic">Metodolohiya</div>
    <div class="content">
      Provides teachers with instructional methods and strategies for teaching
      Filipino language and literature effectively. This includes lesson
      planning, classroom management, and teaching techniques.
    </div>

    <div class="subtopic">Pagtataya at Ebalwasyon</div>
    <div class="content">
      Focuses on the development and use of assessment tools to gauge students'
      language and literature proficiency. Teachers learn how to design fair and
      reliable assessments and evaluate student performance accurately.
    </div>
  </div>

  <div class="subtitle">4. Kagamitang Pangturo</div>
  <div class="content">
    This topic encompasses the creation and utilization of teaching materials,
    such as textbooks, worksheets, and multimedia resources, to enhance the
    teaching and learning process in Filipino language and literature.
  </div>
</section>
<app-footer></app-footer>