<section id="filipino-coverage">
  <h2 class="content-title">LET Filipino Coverage</h2>
  <div class="content-card">
    <h4 class="topic">1. Mga Batayang Teoretikal</h4>
    <p>
      <span class="minitopic">Introduksyon sa Pag-aaral ng Wika:</span>
      This topic provides a foundational understanding of linguistics and language theory. It covers the basic concepts
      and principles of language, including its structure, functions, and evolution. Teachers are expected to comprehend
      the theoretical underpinnings of language to effectively teach it.
    </p>
    <p>
      <span class="minitopic">Panimulang Linggwistika:</span>
      This section delves deeper into linguistic theory, exploring topics such as phonetics, syntax, semantics, and
      sociolinguistics. It equips teachers with the knowledge needed to analyze the structure and use of language.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">2. Nilalaman</h4>
    <p>
      <span class="minitopic">Wika:</span> This area focuses on the Filipino language, including its grammar,
      vocabulary, and usage. Teachers must have a strong grasp of Filipino to facilitate effective language instruction.
    </p>
    <p>
      <span class="minitopic">Panitikan:</span>
      Covers various aspects of Filipino literature, including literary forms, historical context, and prominent
      literary works and authors. Teachers should be well-versed in Filipino literature to teach it comprehensively.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">3. Metodolohiya, Pagtataya at Ebalwasyon</h4>
    <p>
      <span class="minitopic">Metodolohiya:</span> Provides teachers with instructional methods and strategies for
      teaching Filipino language and literature effectively. This includes lesson planning, classroom management, and
      teaching techniques.
    </p>
    <p>
      <span class="minitopic">Pagtataya at Ebalwasyon:</span>
      Focuses on the development and use of assessment tools to gauge students' language and literature proficiency.
      Teachers learn how to design fair and reliable assessments and evaluate student performance accurately.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">4. Kagamitang Pangturo</h4>
    <p>
      This topic encompasses the creation and utilization of teaching materials, such as textbooks, worksheets, and
      multimedia resources, to enhance the teaching and learning process in Filipino language and literature.
    </p>
  </div>
</section>
<app-coverage-source></app-coverage-source>
