<section id="coverage-physical-science">
  <h2 class="content-title">LET Physical Science Coverage</h2>
  <div class="content-card">
    <h4 class="topic">1. Introduction - Nature of Science</h4>
    <p>
      This section provides an overview of the scientific method, principles of
      scientific inquiry, and the nature of science as a systematic and
      evidence-based approach to understanding the natural world.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">2. Chemistry</h4>
    <p>
      <span class="minitopic">Atomic and Molecular:</span> Covers the structure
      of atoms and molecules, including atomic theory, periodic table trends,
      and molecular bonding.
    </p>
    <p>
      <span class="minitopic">Chemical Bonds:</span> Explores the various types
      of chemical bonds, such as covalent and ionic bonds, and their
      significance in chemical reactions.
    </p>
    <p>
      <span class="minitopic">Conservation of Matter and Stoichiometry:</span>
      Focuses on the law of conservation of mass and stoichiometric calculations
      in chemical reactions.
    </p>
    <p>
      <span class="minitopic">Gases, Liquids, and Solids:</span>
      Examines the behavior of gases, liquids, and solids, including their
      properties and phase transitions.
    </p>
    <p>
      <span class="minitopic">Acids and Bases:</span>Covers the concepts of
      acidity and alkalinity, pH, and acid-base reactions.
    </p>
    <p>
      <span class="minitopic">Solutions:</span> Explores the properties of
      solutions, including solubility, concentration, and colligative
      properties.
    </p>
    <p>
      <span class="minitopic">Chemical Thermodynamics:</span> Discusses
      principles of thermodynamics, including heat, energy transfer, entropy,
      and Gibbs free energy. properties.
    </p>
    <p>
      <span class="minitopic">Chemical Kinetics and Equilibrium:</span> Focuses
      on reaction rates, factors affecting reaction rates, and chemical
      equilibrium.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">3. Organic and Biochemistry</h4>
    <p>
      This area delves into the chemistry of carbon compounds (organic
      chemistry) and their relevance to biological systems (biochemistry).
      Topics may include organic functional groups, biochemical pathways, and
      biomolecules.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">4. Nuclear Processes</h4>
    <p>
      Covers nuclear chemistry, including radioactivity, nuclear reactions, and
      the applications and implications of nuclear processes.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">5. Physics</h4>
    <p>
      <span class="minitopic">Physical Quantities and Vectors:</span> Introduces
      fundamental physical quantities, measurement, and vector analysis.
    </p>
    <p>
      <span class="minitopic">Mechanics:</span> Explores the principles of
      motion, forces, work, energy, and momentum.
    </p>
    <p>
      <span class="minitopic">Electricity, Magnetism, and Electronics:</span>
      Focuses on electromagnetism, electrical circuits, magnetic fields, and
      electronic devices.
    </p>
    <p>
      <span class="minitopic">Thermodynamics:</span> Discusses the laws of
      thermodynamics, heat engines, and thermodynamic processes.
    </p>
    <p>
      <span class="minitopic">Modern Physics:</span> Examines the behavior of
      light, reflection, refraction, and optical phenomena.
    </p>
    <p>
      <span class="minitopic">
        Earth and Space, Astronomy, and Environment:
      </span>
       Addresses concepts related to Earth and space science, including celestial
      bodies, planetary systems, and environmental issues.
    </p>
  </div>
</section>
<app-coverage-source></app-coverage-source>
