<section>
  <h2 class="content-title">Panitikan</h2>
  <div class="content-card">
    <h4 class="topic">Panitikan</h4>
    <ol>
      <li>
        <p>
          <span class="minitopic">Salawikain o Sawikain</span> - nagtataglay ng talinghaga. Nagsisilbing mga panuntunan sa buhay – mga bata ng
          kaugalian at patnubay ng kagandahang-asal. Binubuo ito ng mga taludtod na karaniwa ay dadalawa, may sukat at tugma at nagbibigay-aral.
        </p>
        <b>Halimbawa</b>
        <div class="examples">
          <p>Ang bato sakdal man ng tigas <br />Tubig na malambot ang nakaaagnas.</p>
          <p>Di man makita ang apoy <br />Sa aso matutunton.</p>
          <p>Ang inahing mapagkupkop <br />Di man anak isusukob.</p>
        </div>
      </li>

      <li>
        <p>
          <span class="minitopic">Sabi o Kasabihan</span> – hango sa karunungan ng matatandang may mga karanasan sa buhay. May himig paalaala, kung
          minsa’y parang nanunudyo, ang mga ito’y hindi gumagamit ng malalalim na mga talinghaga. Payak lamang ang kahulugan ng mga ito na
          kasasalaminan din ng gawi at ugali ng tao.
        </p>
        <b>Halimbawa</b>
        <div class="examples">
          <p>Anak na di paluhain <br />Ina ang patatangisin.</p>
          <p>Nasa banig <br />Lumipat sa sahig.</p>
          <p>Walang sumisira sa bakal <br />Kundi kanya ring kalawang.</p>
          <p>Ang maniwala sa sabi <br />Walang bait na sarili.</p>
        </div>
      </li>
      <li>
        <p>
          <span class="minitopic">Bugtong</span> – tugmang naghahamon sa tao na mag-isip nang madalian nang walang pagbabatayan kundi ang inilalarawan
          ng mga salita. May layunin itong mapasigla ang guniguni at mapatalas ang isip.
        </p>
        <b>Halimbawa</b>
        <div class="examples">
          <p>Di matingalang bundok <br />Darak ang nakakamot. (BALAKUBAK)</p>
          <p>Kakabiyak na niyog <br />Magdamag inilibot. (BUWAN)</p>
        </div>
      </li>
      <li>
        <p><span class="minitopic">Talinghaga</span> – tisang payak na metaporang may walong pantig sa bawat taludtod. Ito ay may sukat at tugma</p>
        <b>Halimbawa</b>
        <div class="examples">
          <p>
            Labong ng kawayang bagong tumutubo <br />Langit na mataas ang itinuturo; <br />Kapag tumanda na at saka lumago, <br />Lupang pinagmulan,
            doon din ang yuko.
          </p>
        </div>
      </li>
      <li>
        <p>
          <span class="minitopic">Tanaga</span> – ayon kina Noceda at Sanlukar, isang tulang may apat na taludtod na pipituhing-pantig at naghahamon
          din sa isip.
        </p>
        <b>Halimbawa</b>
        <div class="examples">
          <p>Ang tubig ma’y malalim <br />Malilirip kung lipdin <br />Itong budhing magaling <br />Maliwag paghanapin.</p>
        </div>
      </li>
      <li>
        <p><span class="minitopic">Bulong</span> – atulang ginagamit sa panggagamot o pang-iingkanto</p>
        <b>Halimbawa</b>
        <div class="examples">
          <p>Huwag magagalit, kaibigan, <br />Aming pinuputol lamang<br />Ang sa ami’y napag-utusan.</p>
          <p>Tabi po, tabi po <br />Huwag pong manununo.<br /></p>
        </div>
      </li>
      <li>
        <p>
          <span class="minitopic">Awiting-bayan</span> – atulad ng alinmang tula, ang mga ito ay may sukat at tugma. Di nakilala ang mga kumatha ng
          maraming awiting bayan.
        </p>
        <b>Itinala ni Epifanio de los Santos Cristobal ang sumusunod na awiting-bayan:</b>
        <div class="examples">
          <ol>
            <li>suliranin (awit sa paggaod)</li>
            <li>talindaw (awit sa pamamangka)</li>
            <li>diona (awit sa panliligaw at pagkakasal)</li>
            <li>oyayi o ayayi (awit sa paghehele)</li>
            <li>kumintang (awit sa pakikidigma; nang lumao’y naging awit sa pag-ibig)</li>
            <li>sambotani (awit sa pagtatagumpay)</li>
            <li>kundiman (awit ng pag-ibig)</li>
            <li>dalit (himno)</li>
          </ol>
        </div>
      </li>
      <li>
        <p>
          <span class="minitopic">Epiko</span> – mga tulang-salaysay tungkol sa mga bayani at sa kanilang kabayanihan. Ang mga bayaning ito ay tila
          mga bathala sa pagtataglay ng kapangyarihan. Ang mga epiko ay paawit kung isalaysay. Sinasabing ang mga epiko ng mga Bisaya, Tagalog, Iluko,
          Ifugao, at Bikol ay napasulat sa Alibata, samantala ang epiko ng Mindanao ay nakasulat sa Sanskrito.
        </p>
        <b>Halimbawa</b>
        <div class="examples">
          <ol>
            <li>Hudhud (Ifugao)</li>
            <li>Ibalon (Bikol)</li>
            <li>Biag ni Lam-ang (Ilokano)</li>
            <li>Maragtas (Hiligaynon-Iraya)</li>
          </ol>
        </div>
      </li>
      <li>
        <p>
          <span class="minitopic">Akdang Panrelihiyon </span>
        </p>
        <ol>
          <li>
            <b>Doctrina Cristiana</b> – Ito ang kauna-unahang aklat na nilimbag sa Pilipinas. Nilimbag ito sa pamamagitan ng silograpiya noong 1593.
          </li>
          <li>
            <b>Nuestra Señora del Rosario</b> – sinulat ito at inilimbag ni Pari Blancas de San Jose, O.P., noong 1602 sa Imprenta ng Santo Tomas.
          </li>
          <li>
            <b>Barlaan at Josaphat</b> – sinulat ito ni Pari Antonio de Borja, S.J., at inilathala noong 1708 at muli noong 1712. Ito ay batay sa sa
            mga salaysay mula sa Bibliya. Ipinalalagay na ito ang kauna-unahang nobelang Tagalog kahit salin lamang.
          </li>
          <li><b>Pasyon</b> – sa panahon ng kuwaresma, ang buhay at pagpapakasakit ng Panginoong Hesukristo ay inaawit.</li>
          <li><b>Mga Dalit kay Maria</b> – sabayang inaawit bilang handog kung buwan ng Mayo sa pag-aalay ng bulaklak sa Mahal na Birhen.</li>
        </ol>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Dula</h4>
    <ol>
      <li>
        <span class="minitopic">Panunuluyan</span> – isang uri ng dulang pangrelihiyon na namalasak noong panahon ng Kastila. Ang pinakadiwa nito ay
        ang paghahanap ng bahay na matutuluyan ng mag-asawang San Jose at Birheng Maria noong bisperas ng Pasko.
      </li>
      <li>
        <span class="minitopic">Senakulo</span> – isang uri ng dulang makarelihiyon na ang pinakamanuskrito ay ang pasyon. Itinatanghal ito kung Mahal
        na Araw, kadalasa’y nagsisimula sa Lunes Santo at nagtatapos ng Biyernes Santo, kung minsan pa’y umaabot ng Linggo ng Pagkabuhay. Ito ay
        itinatanghal sa entablado. Tinatawag din itong “pasyon sa tanghalan”.
      </li>
      <li>
        <span class="minitopic">Moro-Moro</span> – itinatanghal sa entablado. Dalawang pangkat ang naghaharap dito: ang mga Kristiyano at ang mga
        moro. Tinawag itong comedia de capa y espada na sa kalauna’y naging kilala sa palasak na tawag na “moro-moro”. Nasusulat sa anyong tula,
        pumapaksa sa paglalaban ng mga Kristiyano at mga di-Kristiyanong tinawag ng mga Kastilang “moro”. Laging magtatagumpay ang mga Kristiyano sa
        mga paglalaban.
      </li>
      <li>
        <span class="minitopic">Tibag</span> – ito ay may kaugnayan sa senakulo sapagkat ito ay nauukol sa paghanap sa krus na kinamatayan ni Kristo
        sa bundok ng Kalbaryo. Ang mga tauhan dito ay sina Emperatris Elena at ang kanyang anak na si Emperador Constantino. Tinawag na tibag sapagkat
        ito ay nauukol sa pagtibag ng bundok ng Kalbaryo sa paghanap ng krus.
      </li>
    </ol>
  </div>
</section>
