<section>
  <h2 class="content-title">English - Grammar</h2>
  <div class="content-card">
    <h4 class="topic">Nouns</h4>
    <p>A noun names something- person, place, things, events, phenomena, emotions, etc.</p>
    <ol>
      <li>
        <span class="minitopic">Proper Nouns</span> - Names of specific persons, things, or places.
        <p class="examples">Examples: John, Eiffel Tower, Google</p>
      </li>
      <li>
        <span class="minitopic">Common Nouns</span> - Refer to any one of a class of persons, places, or things.
        <p class="examples">Examples: dog, city, book</p>
      </li>
      <li>
        <span class="minitopic">Count Nouns</span> - Nouns that can be counted and quantified using numbers.
        <p class="examples">Examples: three apples, five cars, ten students</p>
      </li>
      <li>
        <span class="minitopic">Non-Count Nouns (Mass Nouns)</span> - Nouns that cannot be counted and quantified using measurements.
        <p class="examples">Examples: water, happiness, information</p>
      </li>
      <li>
        <span class="minitopic">Collective Nouns</span> - Nouns that name a group of persons or things.
        <p class="examples">Examples: team, flock, family</p>
      </li>
      <li>
        <span class="minitopic">Compound Nouns</span> - Nouns that are made up of two words acting as a single unit.
        <p class="examples">Examples: toothpaste, swimming pool, bookshelf</p>
      </li>
    </ol>
  </div>
  <div class="content-card">
    <h4 class="topic">Pronuons</h4>
    <ol>
      <li>
        <span class="minitopic">Personal pronouns</span> - These are pronouns that refer to the person speaking, the person spoken to, or the person
        or thing spoken about.
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Singular</th>
              <th>Plural</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>First Person</td>
              <td>
                I (Subjective) <br />
                Me (Objective)
              </td>
              <td>
                We (Subjective) <br />
                Us (Objective)
              </td>
            </tr>
            <tr>
              <td>Second Person</td>
              <td>You</td>
              <td>You</td>
            </tr>
            <tr>
              <td>Third Person</td>
              <td>She, He, Her, Him, It</td>
              <td>
                They (Subjective) <br />
                Them (Objective)
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <span class="minitopic">Possessive pronouns</span> - these are pronouns that show possession
        <table>
          <thead>
            <tr>
              <th>Possesive Adjectives</th>
              <th>Possesive Pronuons</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>My</td>
              <td>Mine</td>
            </tr>
            <tr>
              <td>Our</td>
              <td>Ours</td>
            </tr>
            <tr>
              <td>Your</td>
              <td>Yours</td>
            </tr>
            <tr>
              <td>Their</td>
              <td>Theirs</td>
            </tr>
            <tr>
              <td>Her</td>
              <td>Hers</td>
            </tr>
            <tr>
              <td>It</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="example">
          <p>Example:</p>
          <p>Possesive Adjective: This is my book. (“my” qualifies the book)</p>
          <p>Possesive Adjective: This book is mine. (“mine” represents the owner of the book)</p>
        </div>
      </li>
      <li>
        <span class="minitopic">Reflexive and Intensive Pronouns</span>
        <p>Reflexive Pronouns: Pronouns that refer back to the subject of the sentence.</p>
        <p>Intensive Pronouns: Pronouns used to emphasize a preceding noun or pronoun.</p>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Singular</th>
              <th>Plural</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>First Person</th>
              <td>Myself</td>
              <td>Ourselves</td>
            </tr>
            <tr>
              <th>Second Person</th>
              <td>Yourself</td>
              <td>Yourselves</td>
            </tr>
            <tr>
              <th>Third Person</th>
              <td>Himself</td>
              <td>Themselves</td>
            </tr>
            <tr>
              <th></th>
              <td>Itself</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="examples">
          <ol>
            <li>
              <p>
                I see myself in his actions.<br />
                <i>Reflexive: pronoun refers to the subject</i>
              </p>
              <p>
                I, myself is the culprit.<br />
                <i>Intensive: ppronoun shows emphasis</i>
              </p>
            </li>
            <li>
              <p>
                Did you teach yourself?<br />
                <i>Reflexive: pronoun refers to the subject</i>
              </p>
              <p>
                You, yourself teach.<br />
                <i>Intensive: ppronoun shows emphasis</i>
              </p>
            </li>
            <li>
              <p>
                He cut the paper himself.<br />
                <i>Reflexive: pronoun refers to the subject</i>
              </p>
              <p>
                He, himself cut the paper.<br />
                <i>Intensive: ppronoun shows emphasis</i>
              </p>
            </li>
            <li>
              <p>
                They were shocked about themselves.<br />
                <i>Reflexive: pronoun refers to the subject</i>
              </p>
              <p>
                They themselves were shocked.<br />
                <i>Intensive: ppronoun shows emphasis</i>
              </p>
            </li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Indefinite Pronouns</span> - do not refer to a specific noun.
        <table>
          <thead>
            <th>Singular</th>
            <th>Plural</th>
            <th>Both Singular and Plural</th>
          </thead>
          <tbody>
            <tr>
              <td>Any, Everyone</td>
              <td>Both, Several</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Anybody, No one</td>
              <td>Few</td>
              <td>All</td>
            </tr>
            <tr>
              <td>Everybody</td>
              <td>Many</td>
              <td>Some</td>
            </tr>
            <tr>
              <td>Anyone</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <span class="minitopic">Interrogative pronouns</span> - used in asking questions
        <div class="examples">
          <p>Example: Who, How, To Whom, What, Whom, To What, Which, Whose, To Which, Where, Why, When</p>
        </div>
      </li>
      <li>
        <span class="minitopic">Demonstrative pronuons</span> - used in pointing nuons
        <p>Example:</p>
        <div class="examples">
          <ol type="a">
            <li>Singular: This, That</li>
            <li>PluralThese, Those</li>
          </ol>
        </div>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Adjectives</h4>
    <p>An adjective qualifies and tells something about a NOUN or PRONOUN through descriptions.</p>
    <p>It answers the question:</p>
    <ol type="a">
      <li>What kind?</li>
      <li>Which one?</li>
      <li>How many?</li>
      <li>How much?</li>
    </ol>
    <h4>Order of Adjectives</h4>
    <table>
      <thead>
        <th>Determinator</th>
        <th>Observation</th>
        <th>Size</th>
        <th>Shape</th>
        <th>Age</th>
        <th>Color</th>
        <th>Origin</th>
        <th>Material</th>
        <th>Qualifier</th>
        <th>Nuon</th>
      </thead>
      <tbody>
        <tr>
          <td>An</td>
          <td>expensive</td>
          <td></td>
          <td></td>
          <td></td>
          <td>red</td>
          <td>European</td>
          <td></td>
          <td>sports</td>
          <td>car</td>
        </tr>
        <tr>
          <td>An</td>
          <td>extra-ordinary</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>necklace</td>
        </tr>
        <tr>
          <td>Six</td>
          <td></td>
          <td></td>
          <td>long-stemmed</td>
          <td></td>
          <td>white</td>
          <td>American</td>
          <td></td>
          <td></td>
          <td>daises</td>
        </tr>
        <tr>
          <td>Her</td>
          <td>shiny</td>
          <td>short</td>
          <td></td>
          <td></td>
          <td>black</td>
          <td></td>
          <td></td>
          <td></td>
          <td>hair</td>
        </tr>
        <tr>
          <td>My</td>
          <td></td>
          <td>big</td>
          <td></td>
          <td>old</td>
          <td></td>
          <td>German</td>
          <td></td>
          <td></td>
          <td>dog</td>
        </tr>
        <tr>
          <td>Those</td>
          <td></td>
          <td>long</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>ceramic</td>
          <td>jewelry</td>
          <td>boxes</td>
        </tr>
        <tr>
          <td>That</td>
          <td>smooth</td>
          <td>big</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>locket</td>
        </tr>
        <tr>
          <td>Few</td>
          <td></td>
          <td>tiny</td>
          <td></td>
          <td></td>
          <td></td>
          <td>African</td>
          <td>gold</td>
          <td></td>
          <td>insects</td>
        </tr>
        <tr>
          <td>Some</td>
          <td>erotic</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Indian</td>
          <td></td>
          <td></td>
          <td>films</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content-card">
    <h4 class="topic">Verbs</h4>
    <ol>
      <li>
        <span class="minitopic">Action Verbs</span> - These are verbs that express action. A majority of verbs are of this nature, and that is why
        most of the time, learners tend to define verbs as action words. Words like run, walk, talk, sing, dance, etc. are common examples of action
        verbs. We can further classify actions verbs into two more sub classifications-Regular and Irregular verbs.
        <ol type="A">
          <li>
            <b>Regular verbs</b> - Action verb is considered regular if its past form is derived by adding d or ed. Let us take the word walk for an
            example; the past form of walk is walked.
            <table>
              <thead>
                <th>Base Form</th>
                <th>Past Form</th>
              </thead>
              <tbody>
                <tr>
                  <td>Watch</td>
                  <td>Watched</td>
                </tr>
                <tr>
                  <td>Bake</td>
                  <td>Baked</td>
                </tr>
                <tr>
                  <td>Pick</td>
                  <td>Picked</td>
                </tr>
                <tr>
                  <td>Save</td>
                  <td>Saved</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <b>Irregular verbs</b> - Action verb is considered irregular if its past form is derived not by adding d or ed, but through a change or
            through retention in spelling.
            <table>
              <thead>
                <th>Base Form</th>
                <th>Past Form</th>
              </thead>
              <tbody>
                <tr>
                  <td>Pay</td>
                  <td>Paid</td>
                </tr>
                <tr>
                  <td>Put</td>
                  <td>Put</td>
                </tr>
                <tr>
                  <td>Say</td>
                  <td>Said</td>
                </tr>
                <tr>
                  <td>Write</td>
                  <td>Wrote</td>
                </tr>
              </tbody>
            </table>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</section>
