mat-expansion-panel {
  background-color: #c9e4d9;
}

mat-icon {
  color: var(--icon);
}

.spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel-header {
  padding: 10px 24px;
}

.chip {
  background: #7eb19c;
  font-size: 12px;
  border-radius: 30px;
  padding: 4px 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-expansion-panel-header-description {
  //   background-color: #b1d5b5;
  background-color: #c9e4d9;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  white-space: pre-line;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watermark {
  font-size: 11px;
  text-align: center;
  padding: 10px 0 0 0;
}

.qtab-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px 0;
}

.choice {
  padding: 10px;
  //   background-color: #b1d5b5;
  background-color: rgba(197, 106, 25, 0.4);
  border-radius: 5px;
}

.correct {
  background-color: var(--header);
}

.report {
  cursor: pointer;
}

.mat-expansion-panel-header {
  height: max-content;
}

@media screen and (max-width: 420px) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
    background-color: #c9e4d9;
  }
}

/** questions for pdf **/

@media screen and (max-width: 420px) {
  .q-content {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23b0bb9d' fill-opacity='1' d='M0,160L60,144C120,128,240,96,360,112C480,128,600,192,720,218.7C840,245,960,235,1080,218.7C1200,203,1320,181,1380,170.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: #c7e1ba;
    background-size: 100%;
    padding: 15px 10px;
  }
  .q-choices {
    display: flex;
    flex-direction: column;
    gap: 5px;
    div {
      margin: 0;
      line-height: 1.5;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      background-color: #b0bb9d;
    }
  }
  .q-explain {
    margin-bottom: 0;
  }
  .chip {
    background: none;
    text-align: end;
    -webkit-text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
    text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;
  }
}
