<!-- <div class="qtab-wrapper">
  <div class="qtab-actions">
    <div class="chip" *ngIf="question.major[1]">{{ question.major[1] }}</div>
    <span class="spacer"></span>
    <mat-slide-toggle [(ngModel)]="isShow" color="primary"></mat-slide-toggle>
    <mat-icon
      aria-hidden="false"
      aria-label="report button"
      fontIcon="flag"
      class="report"
      (click)="openReportQuestionDialog()"
    ></mat-icon>
    <mat-icon (click)="openExplainDialog()">question_answer</mat-icon>
  </div>
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="isExpand"
      (opened)="isExpand = true"
      (closed)="isExpand = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-description>
          {{ isExpand ? question.question : question_shortened }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div
        class="choice"
        *ngFor="let choice of question.choices"
        [class.correct]="isShow && choice === question.answer"
      >
        {{ choice }}
      </div>
      <span *ngIf="watermark" class="watermark">passthatboard.com</span>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->

<!-- this line will be for PDF purposes -->

<div class="q-content">
  <p>{{number + 1}}. {{ question.question }}</p>
  <div class="q-choices">
    <p [class.q-correct]="choice === question.answer" *ngFor="let choice of question.choices; index as i">
      {{ getAlphabeticalCount(i) }} {{ choice }}
    </p>
  </div>
  <p class="q-explain">Explanation: {{ question.explanation }}</p>
</div>
