mat-expansion-panel {
  background-color: #c9e4d9;
}

mat-icon {
  color: var(--icon);
}

.spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel-header {
  padding: 10px 24px;
}

.chip {
  background: #7eb19c;
  font-size: 12px;
  border-radius: 30px;
  padding: 4px 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-expansion-panel-header-description {
  //   background-color: #b1d5b5;
  background-color: #c9e4d9;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  white-space: pre-line;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watermark {
  font-size: 11px;
  text-align: end;
  font-style: italic;
  position: absolute;
  right: 24px;
  bottom: 0;
}

.qtab-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px 0;
}

.choice {
  padding: 10px;
  //   background-color: #b1d5b5;
  background-color: rgba(197, 106, 25, 0.4);
  border-radius: 5px;
}

.correct {
  background-color: var(--header);
}

.report {
  cursor: pointer;
}

.mat-expansion-panel-header {
  height: max-content;
}

@media screen and (max-width: 420px) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
    background-color: #c9e4d9;
  }
}

/** questions for pdf **/
.q-content {
  font-size: 14px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
.q-choices {
  p {
    margin: 0;
    line-height: 1.5;
  }
}

.q-correct {
  -webkit-text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
  text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

.q-explain {
  margin-bottom: 0;
}
