<div class="qtab-wrapper">
  <div class="qtab-actions">
    <mat-slide-toggle [(ngModel)]="isShow" color="primary"></mat-slide-toggle>
    <mat-icon
      aria-hidden="false"
      aria-label="report button"
      fontIcon="flag"
      class="report"
      (click)="openReportQuestionDialog()"
    ></mat-icon>
    <mat-icon (click)="openExplainDialog()">question_answer</mat-icon>
  </div>
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="isExpand"
      (opened)="isExpand = true"
      (closed)="isExpand = false"
    >
      <mat-expansion-panel-header>
        <!-- <mat-panel-title> Self aware panel </mat-panel-title> -->
        <mat-panel-description>
          {{ isExpand ? question.question : question_shortened }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div
        class="choice"
        *ngFor="let choice of question.choices"
        [class.correct]="isShow && choice === question.answer"
      >
        {{ choice }}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
