<section>
  <h2 class="content-title">Biology - Cells</h2>
  <div class="content-card">
    <h4 class="topic">1. Cells</h4>
    <p><span class="minitopic">Organelles</span> - are structures with specific functions found within living cells.</p>
    <p>
      <span class="minitopic">Nucleus</span> - This organelle is arguably the most important structure in the cell because it serves as the control
      center in which individual functions of the other organelles are coordinated.
    </p>
    <p>
      <span class="minitopic">Cell wall/cell membrane</span> - The cell wall in plant cells and in some monerans and protests provides rigidity for
      support to the cells and a characteristic shape for functionality and structure. The cell membrane, on the other hand, is selectively permeable.
    </p>
    <p>
      <span class="minitopic">Mitochondrion</span> - This organelle is also called the “powerhouse of the cell”. It serves as the site where ATPs are
      abundantly synthesized.
    </p>
    <p><span class="minitopic">Chloroplast</span> - This serves as the site of photosynthesis among plants and photosynthetic algae.</p>
    <p><span class="minitopic">Ribosome</span> - This serves as the site of protein synthesis.</p>
    <p>
      <span class="minitopic">Endoplasmic Reticulum</span> - These organelles serve as channels or passageways through which materials are transported
      to the different parts of the cell.
    </p>
    <p><span class="minitopic">Centriole</span> - This serves for cytokinetic purposes and is very common among dividing cells.</p>
    <p><span class="minitopic">Lysosome</span> - The structure is also called the “suicidal bag” as it releases digestive juices.</p>
    <p><span class="minitopic">Golgi apparatus</span> - This serves for selection and packaging of cellular materials.</p>
    <p>Differences between plant and animal cells</p>
    <table>
      <thead>
        <tr>
          <th>Structure</th>
          <th>Plants</th>
          <th>Animals</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell Wall</td>
          <td>Present</td>
          <td>Absent</td>
        </tr>
        <tr>
          <td>Chloroplast</td>
          <td>Present</td>
          <td>Absent</td>
        </tr>
        <tr>
          <td>Centriole</td>
          <td>Absent</td>
          <td>Present</td>
        </tr>
        <tr>
          <td>Lysosome</td>
          <td>Absent</td>
          <td>Present</td>
        </tr>
        <tr>
          <td>Vacuole</td>
          <td>One/Large</td>
          <td>Many/Small</td>
        </tr>
      </tbody>
    </table>
    <div class="display-ads">
      <ins
        class="adsbygoogle"
        style="display: block; text-align: center"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-6202000492749464"
        data-ad-slot="2913815240"
        data-ad-channel="8279436968"
      ></ins>
    </div>
  </div>
  <div class="content-card">
    <h4 class="topic">2. Cell Transport</h4>

    <p>
      <span class="minitopic">Passive Transport</span> – does not require the expenditure of energy; moves particles through the concentration
      gradient.
    </p>
    <p><span class="minitopic">Active Transport</span> – requires the expenditure of energy; moves particles against the concentration gradient.</p>
    <p>
      <span class="minitopic">Diffusion</span> - this refers to the process in which molecules of solvent move from an area of high concentration to
      an area of low concentration.
    </p>
    <p><span class="minitopic">Osmosis</span> – this refers to the diffusion of particles or molecules across selectively permeable membrane.</p>
  </div>

  <div class="content-card">
    <h4 class="topic">3. Cell Reproduction</h4>
    <p>
      This refers to the process by which cells divide to produce daughter cells. It involves either mitosis if somatic or body cells are involves or
      meiosis if germ or sex cells are involved.
    </p>
    <p>
      <span class="minitopic">Passive Transport</span> – does not require the expenditure of energy; moves particles through the concentration
      gradient.
    </p>
    <p><span class="minitopic">Active Transport</span> – requires the expenditure of energy; moves particles against the concentration gradient.</p>
    <p>
      <span class="minitopic">Diffusion</span> - this refers to the process in which molecules of solvent move from an area of high concentration to
      an area of low concentration.
    </p>
    <p><span class="minitopic">Osmosis</span> – this refers to the diffusion of particles or molecules across selectively permeable membrane.</p>
  </div>

  <div class="content-card">
    <h4 class="topic">4. Other Cell Concepts</h4>
    <p>
      <span class="minitopic">How did the concept of the cell come about?</span> The Cell Theory serves as the basis on which everything that we know
      about the cell is anchored. There are three elements to this theory:
    </p>
    <ol>
      <li>All living things are made up of cells.</li>
      <li>Cells are the basic unit of structure and function in living systems.</li>
      <li>All cells come from preexisting cells.</li>
    </ol>
    <p>
      Like any biological structure, the cell is composed of biomolecules that are intricately combined to enable the cell to perform its metabolic
      functions.
    </p>
    <ol>
      <li>
        <span class="minitopic">Carbohydrates</span> – immediate source of energy - elemental composition: C, H, O - building blocks: monosaccharides
        - e.g. sucrose (table sugar), maltose, amylase
      </li>
      <li>
        <span class="minitopic">Fats/Lipids</span> – these molecules serve as another source of energy after carbohydrates - elemental composition: C,
        H, O - building blocks: fatty acids and a glycerol backbone - e.g. waxes, oils, and cholesterol
      </li>
      <li>
        <span class="minitopic">Proteins</span> – these molecules serve as sources of building materials. - elemental composition: C, H, O, N, S -
        building blocks: amino acids - e.g. amylase, actin and myosin
      </li>
      <li>
        <span class="minitopic">Nucleic Acids</span> – these molecules include the RNA’s and the DNA’s - elemental composition: C, H, O, N, P -
        building blocks: nucleotides
      </li>
    </ol>
    <p>
      <span class="minitopic">Cells according to complexity</span>
    </p>
    <ol>
      <li>
        <span class="minitopic">Prokaryotic cells</span> – have no membrane-bound nucleus and organelles; typical of bacteria and blue-green algae
      </li>
      <li>
        <span class="minitopic">Eukaryotic cells</span> – have a membrane-bound nucleus and organelles; typical of protests, fungi, plants, and
        animals.
      </li>
    </ol>
  </div>
</section>
