<section>
  <h2 class="content-title">LET Agriculture and Fishery Arts Coverage</h2>

  <div class="content-card">
    <h4 class="topic">1. Functional Application of Knowledge</h4>
    <p>
      This topic encompasses the practical application of agricultural and
      fishery knowledge and skills. It involves the ability to apply scientific
      principles to real-world scenarios in farming and fisheries.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">2. Breeds of Farm Animals and Fish</h4>
    <p>
      Covers the identification, characteristics, and management of various
      breeds of farm animals (such as cattle, poultry, and swine) and fish
      species (such as tilapia, catfish, and trout). Understanding breed
      characteristics is essential for optimizing production and resource
      management.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">3. Pests and Diseases Affecting Animals and Fish</h4>
    <p>
      Addresses the identification, prevention, and control of common pests and
      diseases that affect farm animals and fish. Knowledge in this area is
      crucial for maintaining healthy livestock and fish populations.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">4. Propagation</h4>
    <p>
      Focuses on the techniques and methods for breeding and propagating farm
      animals and fish. This includes topics like artificial insemination,
      selective breeding, and hatchery management.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">
      5. Marketing Strategies in the Industry/Entrepreneurship
    </h4>
    <p>
      Explores marketing and business strategies in the agriculture and fishery
      industry. This includes understanding market dynamics, value chain
      analysis, entrepreneurship skills, and business planning for agricultural
      and fishery enterprises.
    </p>
  </div>

  <div class="content-card">
    <h4 class="topic">
      6. Proper Care and Management of Agricultural and Fishery Products
    </h4>
    <p>
      Addresses post-harvest practices, handling, and storage of agricultural
      and fishery products. It includes techniques to ensure product quality,
      reduce spoilage, and maintain the integrity of products from farm to
      market.
    </p>
  </div>
</section>

<app-footer></app-footer>
