<section id="english-coverage">
  <div class="subtitle">1. Remedial Instruction in English</div>
  <div class="content">
    This topic covers strategies and techniques for helping students who are
    struggling with English language skills. It includes methods for identifying
    and addressing individual learning needs to improve proficiency in grammar,
    vocabulary, and communication.
  </div>

  <div class="subtitle">2. English for Specific Purposes</div>
  <div class="content">
    This area focuses on teaching English in specialized contexts, such as
    business, science, or healthcare. It emphasizes tailoring language
    instruction to meet the specific needs and goals of learners in various
    professional fields.
  </div>

  <div class="subtitle">
    3. Theoretical Foundations of Language and Literature
  </div>
  <div class="subcontent">
    <div class="subtopic">Introduction to Linguistics</div>
    <div class="content">
      This section explores the fundamental principles of linguistics, including
      phonetics, syntax, semantics, and sociolinguistics, to provide a
      comprehensive understanding of language structure and use.
    </div>

    <div class="subtopic">Structure of English</div>
    <div class="content">
      It delves into the grammatical and syntactical features of the English
      language, enhancing teachers' ability to explain and teach these elements
      effectively.
    </div>

    <div class="subtopic">Introduction to Stylistics</div>
    <div class="content">
      Stylistics examines the various linguistic and literary devices used in
      texts to convey meaning and style. This topic helps teachers analyze and
      teach the stylistic aspects of literature and language.
    </div>
  </div>

  <div class="subtitle">4. Literary Criticism</div>
  <div class="content">
    This topic focuses on the critical analysis of literary works, enabling
    teachers to guide students in interpreting and evaluating literature from
    different perspectives and literary theories.
  </div>

  <div class="subtitle">5. Literature</div>
  <div class="subcontent">
    <div class="subtopic">Mythology and Folklore</div>
    <div class="content">
      Explores the study of myths and folklore from different cultures, helping
      teachers introduce these rich cultural narratives to students.
    </div>

    <div class="subtopic">Afro-Asian Literature</div>
    <div class="content">
      Examines literary works from African and Asian traditions, promoting a
      multicultural understanding of literature
    </div>

    <div class="subtopic">English and American Literature</div>
    <div class="content">
      Covers major works and authors from English and American literary
      traditions, allowing teachers to teach classic and contemporary literature
      effectively.
    </div>
  </div>

  <div class="subtitle">6. Methodology</div>
  <div class="subcontent">
    <div class="subtopic">The Teaching of Speaking, Listening, and Reading</div>
    <div class="content">
      This area equips teachers with effective techniques for developing
      students' speaking, listening, and reading skills.
    </div>

    <div class="subtopic">Teaching of Literature</div>
    <div class="content">
      Provides strategies for teaching literature, including analyzing texts,
      facilitating discussions, and fostering critical thinking.
    </div>

    <div class="subtopic">
      Preparation and Evaluation of Instructional Materials
    </div>
    <div class="content">
      Focuses on creating educational materials that enhance learning
      experiences.
    </div>

    <div class="subtopic">Language and Literature Assessment</div>
    <div class="content">
      Covers assessment methods and tools for evaluating students' language and
      literature proficiency.
    </div>

    <div class="subtopic">Language Research</div>
    <div class="content">
      Encourages teachers to engage in language-related research and stay
      current with academic advancements.
    </div>
  </div>

  <div class="subtitle">7. Campus Journalism</div>
  <div class="content">
    This topic explores the principles of journalism, including news writing,
    reporting, and ethical considerations, preparing teachers to guide students
    in journalistic pursuits.
  </div>

  <div class="subtitle">8. Translation and Editing of Text</div>
  <div class="content">
    Teaches translation techniques and the editing process to enhance students'
    language skills and understanding of translation concepts.
  </div>

  <div class="subtitle">9. Speech and Stage Arts</div>
  <div class="content">
    Focuses on public speaking, drama, and theatrical performance, equipping
    teachers to develop students' oral communication and dramatic talents.
  </div>

  <div class="subtitle">10. Creative Writing</div>
  <div class="content">
    This area encourages the development of students' creative writing skills,
    covering various genres, styles, and techniques in writing
  </div>
</section>
<app-footer></app-footer>
