<section>
  <h2 class="content-title">Arithmetic</h2>
  <div class="content-card">
    <h4 class="topic">Integers</h4>
    <ol>
      <li>
        <span class="minitopic">Real numbers</span> - all numbers having decimal representations.
        <div class="examples">
          <ol type="a">
            <li>5 (An integer is also a real number.)</li>
            <li><sup>&radic;</sup>2 (An irrational number, but still a real number.)</li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Rational numbers</span> - all numbers that are a quotient of two integers whose divisor is not equal to zero.
        <div class="examples">
          <ol type="a">
            <li><sup>3</sup>&frasl;<sub>4</sub> (Quotient of integers 3 and 4)</li>
            <li><sup>-5</sup>&frasl;<sub>2</sub> (Quotient of integers -5 and 2)</li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Irrational numbers</span> - any number that is not rational and represented by a non-repeating decimal.
        <div class="examples">
          <ol type="a">
            <li><sup>&pi;</sup> (The mathematical constant pi)</li>
            <li><sup>&radic;</sup>3 (The square root of 3, which cannot be expressed as a fraction)</li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Integers</span> - the set of positive numbers, zero, and negative numbers.
        <div class="examples">
          <ol type="a">
            <li>{{ "I = {…-3, -2, -1, 0, 1, 2, 3…}" }}</li>
          </ol>
        </div>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Operation on Integers</h4>
    <ol>
      <li>
        <span class="minitopic">Addition</span> - In adding integers with the same sign, add the numbers and copy the sign of the given numbers.
        <div class="examples">
          <ol type="a">
            <li>{{ "(-3) + (-6) = -9" }}</li>
            <li>{{ "2 + 5 = 7" }}</li>
          </ol>
          <p>In adding integers with opposite signs, subtract the numbers and copy the sign of the larger number.</p>
          <ol type="a">
            <li>{{ "(-12) + 8 = -4" }}</li>
            <li>{{ "18 + (-15) = 3" }}</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Subtraction</span> - In subtracting integers, change the sign of the subtrahend. Then, proceed to the steps in adding
        integers.
        <div class="examples">
          <ol type="a">
            <li>{{ "14 – (-5) = 14 + 5 = 19" }}</li>
            <li>{{ "-8 – (-10) = -8 + (-10) = -18" }}</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Multiplication/Division</span> - The sign of the product/quotient of two integers with the same sign is positive (+).
        <div class="examples">
          <ol type="a">
            <li>{{ "(-3) (-3) = 9" }}</li>
            <li>{{ "4 / 2 = 2" }}</li>
          </ol>
          <p>The sign of the product/quotient of two integers with opposite signs is negative (-).</p>
          <ol type="a">
            <li>{{ "14 x (-3) = -42" }}</li>
            <li>{{ "(-51) / 3 = -17" }}</li>
          </ol>
        </div>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Law of Addition and Multiplication</h4>
    <ol>
      <li>
        <span class="minitopic">Commutative Law of Addition</span> - The order of adding two numbers does not affect the result.
        <div class="examples">
          <ol type="a">
            <li>A + B = B + A</li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Associative Law of Addition</span> - The grouping of three numbers in an addition operation does not affect the
        result.
        <div class="examples">
          <ol type="a">
            <li>A + (B + C) = (A + B) + C</li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Commutative Law of Multiplication</span> - The order of multiplying two numbers does not affect the result.
        <div class="examples">
          <ol type="a">
            <li>AB = BA</li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Associative Law of Multiplication</span> - The grouping of three numbers in a multiplication operation does not affect
        the result.
        <div class="examples">
          <ol type="a">
            <li>A(BC) = (AB)C</li>
          </ol>
        </div>
      </li>
      <li>
        <span class="minitopic">Distributive Law</span> - Multiplying a sum by a number is the same as multiplying each term by the number and then
        adding the results.
        <div class="examples">
          <ol type="a">
            <li>(A + B)C = AC + BC</li>
          </ol>
        </div>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Least Common Multiple (LCM)</h4>
    <p>The LCM of two or more numbers is the smallest number which is the common multiple among the numbers.</p>
    <div class="examples">
      <p>Find the LCM of 18 and 24</p>
      <ol>
        <li>Prime factorization: <br />18 = 2 × 3 × 3 <br />24 = 2 × 2 × 2 × 3</li>
        <li>TList the prime factors, including all the unique prime factors from both numbers: <br />18=2 × 3 × 3 and 24=2 × 2 × 2 × 3</li>
        <li>
          The common factors are 2 and 3. Include them once, and also include the remaining factors from each number: <br />LCM=2 × 2 × 2 × 3 × 3 = 72
        </li>
      </ol>
      <p>Find the LCM of 15 and 20</p>
      <ol>
        <li>
          Prime factorization: <br />15 = 3 × 5 <br />
          24 = 20 =2 × 2 × 5
        </li>
        <li>
          List the prime factors, including all the unique prime factors from both numbers: <br />
          15 = 3 × 5 and 20 = 2 × 2 × 5
        </li>
        <li>
          The common factor is 5. Include it once, and also include the remaining factors from each number: <br />
          LCM=2 × 2 × 3 × 5 = 60
        </li>
      </ol>
    </div>
  </div>

  <div class="content-card">
    <h4 class="topic">Divisibility</h4>
    <p>A number is divisible by a certain number if the remainder of their quotient is equal to zero.</p>
    <ol>
      <li>
        <span class="minitopic">Divisibility by 2</span> - even number
        <div class="examples">
          <ol type="a">
            <li>22 is an even number, therefore it is divisible by 2</li>
            <li>36 is an even number, therefore it is divisible by 2</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Divisibility by 3</span> - sum of digits is divisible by 3
        <div class="examples">
          <ol type="a">
            <li>The sum of the number 111 is equal to three (1+1+1 = 3), which is divisible by 3, therefore 111 is divisible by 3.</li>
            <li>The sum of the number 312 is equal to six (3+1+2 = 6), which is divisible by 3, therefore 312 is divisible by 3.</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Divisibility by 4</span> - last two digits are divisible by 4
        <div class="examples">
          <ol type="a">
            <li>The last two digits of the number 528 is 28, which is divisible by 4, therefore 528 is divisible by 4.</li>
            <li>The last two digits of the number 1468 is 68, which is divisible by 4, therefore 1468 is divisible by 4.</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Divisibility by 5</span> - ends with zero or five
        <div class="examples">
          <ol type="a">
            <li>The last digit of 635 is 5, therefore it is divisible by 5.</li>
            <li>The last digit of 420 is 0, therefore it is divisible by 5.</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Divisibility by 6</span> - divisible by 2 and 3
        <div class="examples">
          <ol type="a">
            <li>
              222 is an even number which makes it divisible by 2. The sum of its digits is equal to six (2+2+2 = 6), which is divisible by 3. Since
              it is both divisible by 2 and 3, 222 is divisible by 6.
            </li>
            <li>
              480 is an even number which makes it divisible by 2. The sum of its digits is equal to twelve (4+8+0 = 12), which is divisible by 3.
              Since it is both divisible by 2 and 3, 480 is divisible by 6.
            </li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Divisibility by 8</span> - last three digits are divisible by 8
        <div class="examples">
          <ol type="a">
            <li>The last three digits of 6328 is 328, which is divisible by 8, therefore 6328 is divisible by 8.</li>
            <li>The last three digits of 87416 is 416, which is divisible by 8, therefore 87416 is divisible by 8.</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Divisibility by 9</span> - sum of digits is divisible by 9
        <div class="examples">
          <ol type="a">
            <li>The sum of 2736 is 18, which is divisible by 9, therefore 2736 is divisible by 9.</li>
            <li>The sum of 486 is 18, which is divisible by 9, therefore 486 is divisible by 9.</li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Divisibility by 10</span> - ends with zero
        <div class="examples">
          <ol type="a">
            <li>The last digit of 820 is zero, therefore it is divisible by 10.</li>
            <li>The last digit of 560 is zero, therefore it is divisible by 10.</li>
          </ol>
        </div>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Fraction</h4>
    <p>a number written as a ratio of two whole numbers.</p>
    <ol>
      <li>
        <span class="minitopic">Expressing Mixed Numbers as Fractions</span> - A mixed number consists of a whole number and a fraction. Any mixed
        number can be changed into fraction.
        <div class="examples">
          <p>Change 2 <sup>3</sup>/<sub>5</sub> into a fraction</p>
          <ol type="a">
            <li>
              2
              <div class="frac"><sup>5</sup><sub>5</sub></div>
              + 3 =
              <div class="frac"><sup>13</sup><sub>5</sub></div>
            </li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Multiplication of Fractions</span> - In multiplying fractions, multiply the numerators together for the numerator of
        the product and the denominators together for the denominator of he product.
        <div class="examples">
          <ol type="a">
            <li>
              Multiply:
              <div class="frac"><sup>5</sup><sub>8</sub></div>
              ×
              <div class="frac"><sup>3</sup><sub>7</sub></div>
              =
              <div class="frac"><sup>15</sup><sub>56</sub></div>
            </li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Division of Fractions</span> - The division of fraction is changed to multiplication of fraction by changing the
        divisor into its reciprocal and proceeding as in multiplication.
        <div class="examples">
          <ol type="a">
            <li>
              Divide:
              <div class="frac"><sup>3</sup><sub>4</sub></div>
              ÷
              <div class="frac"><sup>4</sup><sub>5</sub></div>
              <br />
              =
              <div class="frac"><sup>3</sup><sub>4</sub></div>
              ×
              <div class="frac"><sup>5</sup><sub>4</sub></div>
              <br />
              =
              <div class="frac"><sup>15</sup><sub>16</sub></div>
            </li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Addition/Subtraction of Fractions</span> - When the fractions have the same denominator, add or subtract the
        numerators and write the result over the common denominator.
        <div class="examples">
          <ol type="a">
            <li>
              <div class="frac"><sup>2</sup><sub>15</sub></div>
              +
              <div class="frac"><sup>6</sup><sub>15</sub></div>
              =
              <div class="frac"><sup>8</sup><sub>15</sub></div>
            </li>
          </ol>
        </div>
        <p>
          When the fractions have different denominators, express the fraction to equivalent fractions having a common denominator. Find the Least
          Common Denominator. The LCD of the desired fraction is the Least Common Multiple (LCM) of the given denominators.
        </p>
        <div class="examples">
          <ol type="a">
            <li>
              <div class="frac"><sup>3</sup><sub>4</sub></div>
              +
              <div class="frac"><sup>7</sup><sub>8</sub></div>
              +
              <div class="frac"><sup>5</sup><sub>6</sub></div>
              <br />
              =
              <div class="frac"><sup>18</sup><sub>24</sub></div>
              +
              <div class="frac"><sup>21</sup><sub>24</sub></div>
              +
              <div class="frac"><sup>20</sup><sub>24</sub></div>
              <br />
              =
              <div class="frac"><sup>59</sup><sub>24</sub></div>
            </li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Addition/Subtraction of Mixed Numbers</span> - The sum/difference of mixed fractions is equal to the sum/difference of
        the whole number added to the sum/difference of the fraction.
        <div class="examples">
          <ol type="a">
            <li>
              Find the sum: 3
              <div class="frac"><sup>1</sup><sub>2</sub></div>
              + 4
              <div class="frac"><sup>2</sup><sub>6</sub></div>
              <br />
              = 3
              <div class="frac"><sup>3</sup><sub>6</sub></div>
              + 4
              <div class="frac"><sup>2</sup><sub>6</sub></div>
              <br />
              = 7
              <div class="frac"><sup>5</sup><sub>6</sub></div>
            </li>
            <li>
              Find the difference: 5
              <div class="frac"><sup>3</sup><sub>4</sub></div>
              - 2
              <div class="frac"><sup>1</sup><sub>3</sub></div>
              <br />
              = 3
              <div class="frac"><sup>5</sup><sub>12</sub></div>
            </li>
          </ol>
        </div>
      </li>

      <li>
        <span class="minitopic">Lowest Term</span> - A fraction is n its lowest term if the numerator and the denominator are prime to each other. Two
        numbers are prime to each other when the only common divisor or factor is 1
        <p>
          To express a fraction in its lowest terms, divide the numerator and denominator by a factor common to both until the only common divisor is
          1.
        </p>
        <div class="examples">
          <ol type="a">
            <li>
              Express
              <div class="frac"><sup>24</sup><sub>36</sub></div>
              in its lowest terms: <br />
              =
              <div class="frac"><sup>24 ÷ 12</sup><sub>36 ÷ 12</sub></div>
              =
              <div class="frac"><sup>2</sup><sub>3</sub></div>
            </li>
          </ol>
        </div>
      </li>
    </ol>
  </div>

  <div class="contect-card">
    <h4 class="topic">Decimals</h4>
    <ol>
      <li>
        <span class="minitopic">Addition of Decimals</span> - In adding decimals, write the given numbers so that the decimal point falls in line or
        arranged in one column. Then proceed as in addition of whole numbers and place the decimal point to the sum in the same column as the other
        decimal points.
        <div class="example">
          <p>Add 32.8, 5.235, 122.2</p>
          <pre>
            32.8
       +     5.235
           122.2
           --------
           160.235
          </pre>
        </div>
      </li>
      <li>
        <span class="minitopic">Subtraction of Decimals</span> - Write the given numbers so that the decimal point falls in line or arranged in one
        column. Then proceed as in subtraction of whole numbers and place the decimal point to the difference in the same column as the other decimal
        points. If the minuend contains fewer figures after the decimal point than the subtrahend, annex zeroes.
        <div class="example">
          <p>Subtract 2.34 from 12.5</p>
          <pre>
            12.50
        -    2.34
            -----
            10.16
          </pre>
        </div>
      </li>
      <li>
        <span class="minitopic">Multiplication of Decimals</span> - To multiply a decimal, multiply as in whole numbers; then, beginning from the
        right of the product, move the decimal point to the left depending on the number of decimal places of both factors.
        <div class="example">
          <p>Multiply 53.165 by 3.02</p>
          <pre>
            53.165
        ×     3.02
          ---------
          160.5583
          </pre>
        </div>
      </li>
      <li>
        <span class="minitopic">Division of Decimals</span> - To divide a decimal, divide as in whole numbers and place the decimal point in the
        quotient above the point in the dividend.
        <div class="example">
          <p>Example: Divide 81.5 by 2</p>
          <ol type="a">
            <li>81.5 ÷ 2 = 40.75</li>
          </ol>
        </div>
        <p>
          When the divisor is a decimal fraction, convert the divisor into a whole number by moving the decimal point to the right of it, and move
          also the decimal point of the dividend.
        </p>
        <div class="example">
          <p>Example: 32.2 by .125</p>
          <ol type="a">
            <li>32.2 ÷ .125 = 32 200 ÷ 125 = 257.6</li>
          </ol>
        </div>
      </li>
    </ol>
  </div>
</section>
