<section>
  <h2 class="content-title">Science - Basic Chemistry</h2>
 

  <div class="content-card">
    <ul>
      Matter
      <ul>
        <li>
          Pure Substances
          <ul>
            <li>Elements</li>
            <li>Compound</li>
          </ul>
        </li>
        <li>
          Mixture
          <ul>
            <li>Homogeneous (solution)</li>
            <li>Heterogenous</li>
          </ul>
        </li>
      </ul>
    </ul>

    <ol>
      <li>
        <span class="minitopic">Pure Substance:</span> Homogeneous matter that cannot be separated into its components by physical means; with fixed
        composition and distinct properties
        <ol type="a">
          <li>
            <span class="keyword">Elements:</span> Pure substance composed only of 1 type of atom; cannot be decomposed by ordinary means into simpler
            substances (Ex. H, He, Au, W)
          </li>
          <li>
            <span class="keyword">Compounds:</span> Two or more elements chemically combined in a definite and constant proportion (Ex. KCl,
            CH<sub>3</sub>COOH, MgCl<sub>2</sub>)

            <ol type="A">
              <li>
                <b>Ionic Compounds:</b>
                <ol type="a">
                  <li>Structural units are the cations and anions</li>
                  <li>In the solid state, the ions do not move from their positions in the lattice but only vibrate in place</li>
                  <li>Properties of Ionic Compounds:</li>
                  <ul>
                    <li>Melting Point: High</li>
                    <li>Electrical Conductivity: Solid Non-conducting, Molten Conducting, Aqueous Conducting</li>
                    <li>Hardness: Very Hard</li>
                    <li>Malleability: Brittle</li>
                  </ul>
                </ol>
              </li>
              <li>
                <b>Covalent Molecular Substances:</b>
                <ul>
                  <li>Uncharged or neutral structural units (molecules) in the crystal lattice.</li>
                  <li>The atoms in each molecule are held together by strong COVALENT BONDS.</li>
                  <li>Properties of Covalent Molecular Compounds:</li>
                  <ul>
                    <li>Melting Point: Low</li>
                    <li>Electrical Conductivity: Solid Non-conducting, Molten Non-conducting, Aqueous Non-conducting</li>
                    <li>Hardness: Soft</li>
                    <li>Malleability: Brittle</li>
                  </ul>
                </ul>
              </li>
              <li>
                <b>Covalent Network Substances:</b>
                <ul>
                  <li>The structural units that occupy the lattice points in the solid are ATOMS.</li>
                  <li>The atoms are bound to each other by strong COVALENT BONDS.</li>
                  <li>Properties of Covalent Network Substances:</li>
                  <ul>
                    <li>Melting Point: Very high</li>
                    <li>Electrical Conductivity: Solid Non-conducting (except graphite), Molten Non-conducting, Aqueous Insoluble</li>
                    <li>Hardness: Very Hard</li>
                    <li>Malleability: Brittle</li>
                  </ul>
                </ul>
              </li>
            </ol>
          </li>
        </ol>
      </li>

      <li>
        <span class="minitopic">Mixture:</span> Combination of different substances in variable proportions; can be separated into its components by
        physical methods of separation
        <ol type="a">
          <li>
            <span class="keyword">Homogeneous:</span> Uniform composition and properties throughout a given sample, but composition and properties may
            vary from one sample to another (e.g., solutions)
          </li>
          <li>
            <span class="keyword">Heterogeneous:</span> With non-uniform properties throughout a sample where components retain their identity and
            phase boundaries exist (e.g., colloids, suspensions)
          </li>
        </ol>
      </li>
      <li>
        <span class="minitopic">Other Classification of Matter:</span>
        <ol type="a">
          <li><span class="keyword">Physical States of Matter (Phases of Matter):</span></li>
          <ul>
            <li>SOLID – Rigid, has definite volume and shape</li>
            <li>LIQUID – Fluid (has ability to flow), takes the shape of the portion of the container they occupy</li>
            <li>GAS – Fluid, expands to fill up its container</li>
          </ul>
          <li>
            <span class="keyword">Special Forms Based on Arrangement of Particles and the Degree of Cohesiveness:</span> Crystalline solids; amorphous
            solids; liquid crystals
          </li>
          <ul>
            <li>Crystalline solids – High degree of cohesiveness and very orderly arrangement of particles</li>
            <li>Amorphous/non-crystalline solids – Disordered arrangement of particles but with a high degree of cohesiveness</li>
            <li>
              Liquid crystals – Medium degree of cohesiveness and very orderly arrangement of particles; allows a degree of ordered motion of
              particles
            </li>
          </ul>
        </ol>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <ol>
      <li>
        <span class="minitopic">Extensive Properties:</span> Properties that depend on the amount of material observed
        <ul>
          <li>
            Examples:
            <ul>
              <li>Mass</li>
              <li>Volume</li>
              <li>Texture</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Intensive Properties:</span> Properties that do not depend on the amount of material observed
        <ul>
          <li>
            Examples:
            <ul>
              <li>Density</li>
              <li>Odor</li>
              <li>Taste</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Extrinsic Properties:</span> Properties that can vary with different samples of the same material
        <ul>
          <li>
            Examples:
            <ul>
              <li>Mass</li>
              <li>Volume</li>
              <li>Size</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Intrinsic Properties:</span> Properties which are inherent to the substance and do not change for different samples of
        the same substance
        <ul>
          <li>
            Examples:
            <ul>
              <li>Density</li>
              <li>Boiling and Melting Points</li>
              <li>Odor</li>
              <li>Taste</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Physical Properties:</span> Characteristics observed or measured without changing the identity or composition of the
        material
      </li>
      <li>
        <span class="minitopic">Chemical Properties:</span> Characteristics observed or measured only by changing the identity or composition of the
        material; ability or inability of matter to undergo a change in its identity or composition at given conditions
      </li>
    </ol>
  </div>
</section>
