<section>
  <h2 class="content-title">Matter in Motion: Understanding Phases and Properties</h2>

  <div class="content-card">
    <h4 class="topic">Matter</h4>
    <ul>
      <span class="minitopic">Matter</span>
      <ul>
        <li>
          <span class="keyword">Pure Substances</span>
          <ul>
            <li>Elements</li>
            <li>Compound</li>
          </ul>
        </li>
        <li>
          <span class="keyword">Mixture</span>
          <ul>
            <li>Homogeneous (solution)</li>
            <li>Heterogenous</li>
          </ul>
        </li>
      </ul>
    </ul>

    <ol>
      <li>
        <span class="minitopic">Pure Substance:</span> Homogeneous matter that cannot be separated into its components by physical means; with fixed
        composition and distinct properties
        <ol type="A">
          <li>
            <span class="keyword">Elements:</span> Pure substance composed only of 1 type of atom; cannot be decomposed by ordinary means into simpler
            substances (Ex. H, He, Au, W)
          </li>
          <li>
            <span class="keyword">Compounds:</span> Two or more elements chemically combined in a definite and constant proportion (Ex. KCl,
            CH<sub>3</sub>COOH, MgCl<sub>2</sub>)

            <ol type="a">
              <li>
                <b>Ionic Compounds:</b>
                <ol type="1">
                  <li>Structural units are the cations and anions</li>
                  <li>In the solid state, the ions do not move from their positions in the lattice but only vibrate in place</li>
                  <li>Properties of Ionic Compounds:</li>
                  <ul>
                    <li>Melting Point: High</li>
                    <li>Electrical Conductivity: Solid Non-conducting, Molten Conducting, Aqueous Conducting</li>
                    <li>Hardness: Very Hard</li>
                    <li>Malleability: Brittle</li>
                  </ul>
                </ol>
              </li>
              <li>
                <b>Covalent Molecular Substances:</b>
                <ul>
                  <li>Uncharged or neutral structural units (molecules) in the crystal lattice.</li>
                  <li>The atoms in each molecule are held together by strong COVALENT BONDS.</li>
                  <li>Properties of Covalent Molecular Compounds:</li>
                  <ul>
                    <li>Melting Point: Low</li>
                    <li>Electrical Conductivity: Solid Non-conducting, Molten Non-conducting, Aqueous Non-conducting</li>
                    <li>Hardness: Soft</li>
                    <li>Malleability: Brittle</li>
                  </ul>
                </ul>
              </li>
              <li>
                <b>Covalent Network Substances:</b>
                <ul>
                  <li>The structural units that occupy the lattice points in the solid are ATOMS.</li>
                  <li>The atoms are bound to each other by strong COVALENT BONDS.</li>
                  <li>Properties of Covalent Network Substances:</li>
                  <ul>
                    <li>Melting Point: Very high</li>
                    <li>Electrical Conductivity: Solid Non-conducting (except graphite), Molten Non-conducting, Aqueous Insoluble</li>
                    <li>Hardness: Very Hard</li>
                    <li>Malleability: Brittle</li>
                  </ul>
                </ul>
              </li>
            </ol>
          </li>
        </ol>
      </li>

      <li>
        <span class="minitopic">Mixture:</span> Combination of different substances in variable proportions; can be separated into its components by
        physical methods of separation
        <ol type="a">
          <li>
            <span class="keyword">Homogeneous:</span> Uniform composition and properties throughout a given sample, but composition and properties may
            vary from one sample to another (e.g., solutions)
          </li>
          <li>
            <span class="keyword">Heterogeneous:</span> With non-uniform properties throughout a sample where components retain their identity and
            phase boundaries exist (e.g., colloids, suspensions)
          </li>
        </ol>
      </li>
      <li>
        <span class="minitopic">Other Classification of Matter:</span>
        <ol type="a">
          <li><span class="keyword">Physical States of Matter (Phases of Matter):</span></li>
          <ul>
            <li>SOLID – Rigid, has definite volume and shape</li>
            <li>LIQUID – Fluid (has ability to flow), takes the shape of the portion of the container they occupy</li>
            <li>GAS – Fluid, expands to fill up its container</li>
          </ul>
          <li>
            <span class="keyword">Special Forms Based on Arrangement of Particles and the Degree of Cohesiveness:</span> Crystalline solids; amorphous
            solids; liquid crystals
          </li>
          <ul>
            <li>Crystalline solids – High degree of cohesiveness and very orderly arrangement of particles</li>
            <li>Amorphous/non-crystalline solids – Disordered arrangement of particles but with a high degree of cohesiveness</li>
            <li>
              Liquid crystals – Medium degree of cohesiveness and very orderly arrangement of particles; allows a degree of ordered motion of
              particles
            </li>
          </ul>
        </ol>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Properties of Matter</h4>
    <ol>
      <li>
        <span class="minitopic">Extensive Properties:</span> Properties that depend on the amount of material observed
        <ul>
          <li>
            Examples:
            <ul>
              <li>Mass</li>
              <li>Volume</li>
              <li>Texture</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Intensive Properties:</span> Properties that do not depend on the amount of material observed
        <ul>
          <li>
            Examples:
            <ul>
              <li>Density</li>
              <li>Odor</li>
              <li>Taste</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Extrinsic Properties:</span> Properties that can vary with different samples of the same material
        <ul>
          <li>
            Examples:
            <ul>
              <li>Mass</li>
              <li>Volume</li>
              <li>Size</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Intrinsic Properties:</span> Properties which are inherent to the substance and do not change for different samples of
        the same substance
        <ul>
          <li>
            Examples:
            <ul>
              <li>Density</li>
              <li>Boiling and Melting Points</li>
              <li>Odor</li>
              <li>Taste</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Physical Properties:</span> Characteristics observed or measured without changing the identity or composition of the
        material
      </li>
      <li>
        <span class="minitopic">Chemical Properties:</span> Characteristics observed or measured only by changing the identity or composition of the
        material; ability or inability of matter to undergo a change in its identity or composition at given conditions
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Changes in Matter</h4>
    <ol>
      <li>
        <span class="minitopic">Physical Change:</span> Changes in the phase or state of a substance but not its composition
        <div class="examples">
          Examples:
          <ul>
            <li>Changes in state (liquid 🡪 gas)</li>
            <li>Shape or size (granules 🡪 powder)</li>
          </ul>
        </div>
        <span class="keyword">Phase Change:</span> Determined by existing conditions of temperature and pressure
        <ul>
          <li><b>Sublimation</b>: Solid 🡪 Gas</li>
          <li><b>Deposition</b>: Gas 🡪 Solid</li>
          <li><b>Melting</b>: Solid 🡪 Liquid</li>
          <li><b>Freezing</b>: Liquid 🡪 Solid</li>
          <li><b>Evaporation</b>: Liquid 🡪 Gas</li>
          <li><b>Condensation</b>: Gas 🡪 Liquid</li>
        </ul>
      </li>
      <li>
        <span class="minitopic">Chemical Change - </span> Substances are converted into other substances
        <div class="examples">
          Examples:
          <ul>
            <li>Rusting of iron</li>
            <li>Burning of wood</li>
          </ul>
        </div>

        <span class="keyword">Types of Chemical Reactions:</span>
        <ol type="1">
          <li>
            <b>SYNTHESIS / COMBINATION</b> - Formation of a bigger compound from simpler ones <br />
            (A + B + C … 🡪 D)
          </li>
          <li>
            <b>DECOMPOSITION</b> - A single compound is broken down to 2 or more simpler substances <br />
            (A 🡪 B + C + D + …)
          </li>
          <li>
            <b>Single Displacement</b> - Cation or anion is replaced by an uncombined element <br />
            (AB + C 🡪 AC + B)
          </li>
          <li>
            <b>Double Displacement</b> - Metathesis - Exchange of partners <br />
            (AB + CD 🡪 AD + CB)
          </li>
        </ol>
        <span class="keyword">Other types:</span>
        <ul>
          <li>
            <b>Combustion</b> - Reaction with O<sub>2</sub> to form CO<sub>2</sub>, H<sub>2</sub>O, N<sub>2</sub>, and oxides of any other elements
            present
          </li>
          <li><b>Precipitation</b> - Formation of a precipitate when a solution is added to another</li>
        </ul>
      </li>
    </ol>
  </div>

  <div class="content-card">
    <h4 class="topic">Solubility Rules</h4>
    <ol>
      <li>All nitrates are soluble.</li>
      <li>All acetates are soluble.</li>
      <li>All NH<sub>4</sub><sup>+</sup> salts are soluble.</li>
      <li>All salts of Group 1 are soluble.</li>
      <li>All chlorides are soluble except chlorides of Hg<sub>2</sub><sup>2+</sup>, Pb<sup>2+</sup>, and Ag<sup>+</sup>.</li>
      <li>All bromides are soluble except bromides of Hg<sub>2</sub><sup>2+</sup>, Pb<sup>2+</sup>, and Ag<sup>+</sup>.</li>
      <li>All iodides are soluble except iodides of Hg<sup>2+</sup>, Hg<sub>2</sub><sup>2+</sup>, Pb<sup>2+</sup>, and Ag<sup>+</sup>.</li>
      <li>Most sulfates are soluble except Group 2, Pb<sup>2+</sup>, and Hg<sub>2</sub><sup>2+</sup>.</li>
      <li>All phosphates are insoluble except NH<sub>4</sub><sup>+</sup> and Group 1.</li>
      <li>All chromates are insoluble except NH<sub>4</sub><sup>+</sup> and Group 1.</li>
    </ol>
    <p><span class="keyword">Neutralization:</span> Reaction between an acid and a base forming water and salt</p>
  </div>

  <div class="content-card">
    <h4 class="topic">Laws of Chemical Combination</h4>
    <ol>
      <li>
        <span class="minitopic">Law of Conservation of Mass:</span>
        <p>
          States that the total mass of substances involved in a chemical reaction remains constant, regardless of the nature of the reaction or the
          physical state of the substances.
        </p>
        <p>
          Example: In a chemical reaction where hydrogen and oxygen combine to form water, the total mass of hydrogen and oxygen before the reaction
          is equal to the total mass of water after the reaction.
        </p>
      </li>
      <li>
        <span class="minitopic">Law of Definite Proportion or Composition</span> - States that a given compound always contains exactly the same
        proportion of elements by mass, regardless of the source of the compound or how it was prepared.
        <p>Example: Water (H<sub>2</sub>O) always consists of two hydrogen atoms for every one oxygen atom by mass, regardless of its source.</p>
      </li>
      <li>
        <span class="minitopic">Law of Multiple Proportion</span> - States that when two elements form more than one compound, the ratios of the
        masses of one element that combine with a fixed mass of the other element are in simple whole numbers.
        <p>
          Example: Carbon and oxygen can form two compounds, carbon monoxide (CO) and carbon dioxide (CO<sub>2</sub>). The ratio of masses of oxygen
          that combine with a fixed mass of carbon in these two compounds is in a simple whole number ratio.
        </p>
      </li>
    </ol>
  </div>
</section>
